.about-block {
    padding-top: 64px;
    padding-bottom: 112px;
}

.about-block__wrapper {
    border: 1px solid $secondary;
    padding: 32px;

    p {
        margin: 0;
        padding: 0;
    }
}