@import "../variables";

.article-card {
    background: #FFFFFF;
    box-shadow: 0 22px 24px rgba(0, 0, 0, 0.06);
    border-radius: 10px;
    overflow: hidden;
    height: 100%;
    position: relative;

    &:hover {
        box-shadow: 0 22px 24px rgba(0, 0, 0, 0.15);

        .article-card__img {
            filter: blur(10px);
        }
        .article-card__img {
            position: relative;
            &:after {
                content: "";
                position: absolute;
                width: 100%;
                height: 100%;
                background: linear-gradient(to bottom, #2f9869d1, transparent);
            }
        }

        .article-card__read-time {
            display: block;
        }
    }
}

.article-card_gradient {
    .article-card__img {
        position: relative;
        &:after {
            content: "";
            position: absolute;
            width: 100%;
            height: 100%;
            top: 0;
            left: 0;
            background: linear-gradient(180deg, rgba(5, 56, 161, 0.55) 0%, rgba(5, 56, 161, 0) 100%);
        }
    }
}

.article-card__top-wrap {
    position: absolute;
    width: 100%;
    top: 0;
    left: 0;
    padding: 28px 22px 0 22px;
    display: flex;
    flex-wrap: wrap;
}

.article-card__date {
    font-weight: bold;
    color: white;
    z-index: 5;
}

.article-card__read-time {
    display: none;
}

.article-card__company {
    color: $secondary-light;
    font-size: 14px;
    font-weight: 300;
    margin-bottom: 40px;
    margin-left: auto;
}

.article-card__read-time {
    color: $secondary-light;
    font-size: 16px;
    font-weight: 300;
    width: 100%;
    text-align: center;
}

.article-card__img {
    height: 256px;
    background-size: cover;
    transition: filter 0.1s ease-in;
}

.article-card__title {
    padding: 12px 14px;
    font-weight: bold;
    font-size: 24px;
    line-height: 130%;
    color: #FFFFFF;
    height: 150px;
    background: rgba($primary, 0.97);
    margin: -80px 10px 10px;
    position: relative;
    z-index: 5;
    display: flex;
    align-items: center;

    a {
        color: white;
    }

    @include respond-to(xl) {
        font-size: 20px;
    }
}

.article-card__title_category {
    height: 176px;
    margin-top: -120px;
    padding: 0 14px 30px 14px;
}

.article-card__text {
    padding: 10px 25px 25px;
    font-size: 14px;
    font-weight: 300;
    margin-bottom: 0;
}

.article-card__category {
    display: block;
    color: $secondary;
    font-weight: 300;
    font-size: 14px;
    position: absolute;
    bottom: 0;
    left: 15px;
}