.article-row {
    display: flex;
    align-items: center;
}

.article-row__image {
    width: 104px;
    height: 104px;
    margin-right: 23px;
}

.article-row__text {
    font-size: 14px;
    line-height: 125%;
}