@import "../variables";

.article {
    p {
        margin-bottom: 0;
    }

    p + p {
        margin-top: 45px;
    }

    h1, h2, h3, h4, h5, h6 {
        color: $primary-light;
    }

    blockquote {
        @extend .blockquote;
        font-size: 24px;
        font-weight: 300;
        color: $primary;
        margin-top: 80px;
        margin-bottom: 80px;
        margin-left: 65px;

        @include respond-to(md) {
            margin-left: 15px;
        }
    }

    img {
        margin-bottom: 89px;
        width: 100%;
        border-radius: 5px;
    }

    ul, ol {
        margin-bottom: 65px;
    }

    ul {
        list-style: none;
        padding-left: 70px;

        li + li {
            margin-top: 46px;
        }

        li ul {
            margin-top: 46px;
            padding-left: 46px;
        }

        li {
            &::before {
                content: "";
                width: 10px;
                height: 10px;
                background: $primary-light;
                display: inline-block;
                border-radius: 50%;
                margin-right: 22px;
            }
        }

        @include respond-to(md) {
            padding-left: 15px;
        }
    }

    ol {
        counter-reset: item;
        list-style: none;
        margin-bottom: 0;
        padding-left: 70px;

        li + li {
            margin-top: 46px;
        }

        li ol {
            margin-top: 46px;
            padding-left: 46px;

            li::before {
                content: counter(item, upper-latin);
            }
        }

        li {
            &::before {
                content: counter(item, decimal);
                counter-increment: item;
                color: $primary-light;
                margin-right: 22px;
                font-weight: bold;
                font-size: 18px;
            }
        }

        @include respond-to(md) {
            padding-left: 15px;
        }
    }

    table {
        width: 100%;
        @include respond-to(md) {
            overflow: auto;
            display: block;
        }

        th, tr, td {
            border: none !important;
        }

        td, th {
            padding: 40px 30px;
            @include respond-to(md) {
                padding: 20px 15px;
            }
        }

        tr {
            margin: 0;

            @include respond-to(md) {
                display: flex;
                min-width: 728px;
            }
        }

        tbody {
            tr:nth-child(odd) {
                background: rgba(#CBD0D8, .3);
                border-radius: 7px;
                overflow: hidden;
            }
        }
    }

    .callback-primary-block {
        h1, h2, h3, h4, h5 {
            color: inherit;
        }
    }
}
