@import "../variables";

.breadcrumbs {
    font-size: 14px;
    font-weight: 300;
    display: flex;
    list-style: none;
    padding-left: 0;
    color: $gray-light;
    padding-top: 40px;
    margin-bottom: -61px;
    white-space: nowrap;
    overflow-x: auto;
    z-index: 5;
    position: relative;

    @include respond-to(md) {
        padding-top: 25px;
        margin-bottom: -25px;
    }

    > li {
        a {
            color: $primary;
            text-decoration: none !important;

            &:hover {
                color: $primary-light;
            }

            &:after {
                content: "—";
                margin: 0 30px;
                color: $gray-light !important;;
            }
        }
    }
}