@import "../variables";

.comment {
    display: flex;
    flex-direction: column;
}

.comment__body {
    background: linear-gradient(90deg, rgba(0, 112, 201, 0.1) 0%, rgba(5, 56, 161, 0.1) 100%);
    padding: 15px;
    border-radius: 10px;
}

.comment__header {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
    font-size: 14px;
    align-items: center;
}

.comment__avatar {
    width: 32px;
    height: 32px;
    border-radius: 50%;
    margin-right: 7px;
}

.comment__datetime {
    color: $primary;
}

.comment__message {
    font-weight: 300;
}

.comment__answer-btn {
    margin-top: 20px;
    margin-left: auto;
    border: none;
    background: none;
    color: $primary-light;
}