@import "../variables";

.description-block__wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    align-self: center;
    color: $primary;
    height: 100%;
}

.description-block__image {

    border-radius: 7px;
    box-shadow: 0 24px 94px rgba(0, 0, 0, 0.15);
}

.description-block__circle {
    position: absolute;
    border: 8px solid $secondary;
    width: 174px;
    height: 174px;
    border-radius: 50%;
    box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
}

.description-block__label-digit {
    position: absolute;
    @extend .h1;
    left: calc(50% - 30px);
    @include respond-to(sm) {
        left: calc(50% - 25px);
        top: calc(50% - 23px);
    }
}

.description-block__label-txt {
    @extend .h6;
    position: absolute;
    left: 50%;
    top: calc(50% + 3px);
}