.footer {
    background: $primary-light;
    color: white;

    .footer__wrapper {
        padding-top: 112px;
        padding-bottom: 100px;

        @include respond-to(md) {

            padding-top: 50px;
            padding-bottom: 50px;
        }
    }

    .footer__dev-link {
        padding: 22px 0;
        background: linear-gradient(90deg, #0070C9 0%, #0538A1 100%);
    }

    .footer-list {
        list-style: none;
        padding: 0;
        margin: 0;

        .footer-list__item {
            margin-bottom: 12px;

            &:last-of-type {
                margin-bottom: 0px;
            }
        }

        .footer-list__link {
            color: white;
        }
    }

    .footer-social {
        font-size: 18px;
        margin-top: 68px;

        .footer-social__link {
            color: white;
        }
    }

    .footer-button {
        width: 192px;
        height: 40px;
        border-radius: 10px;
        background: $warning;
        border: none;

        i {
            margin-right: 5px;
        }
    }
}
