@import "../variables";

.map-block {
    padding: 0;
    position: relative;
    display: flex;
    flex-direction: column;
}

.map-block__map {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    @include respond-to(lg) {
        position: static;
        height: 250px;
        order: 2;
    }
}

.map-block__text {
    pointer-events: none;
    padding-top: 90px;
    padding-bottom: 76px;
    background: linear-gradient(to right, white 35%, transparent 80%);
    position: relative;

    a {
        pointer-events: auto;
    }
}