.review-block {
    box-shadow: 0px 22px 24px rgba(0, 0, 0, 0.06);
    border-radius: 0 0 10px 10px;
    margin-bottom: 72px;

    .review-block__image {
        border-radius: 10px;
        display: flex;
        justify-content: center;

        img {
            border-radius: 10px;
            max-width: 100%;
            height: 100%;
            width: auto;
        }
    }



    .review-block__stars {
        color: $warning;
        font-size: 20px;
        margin-top: 15px;
        text-align: center;
    }

    .review-block__autor {
        line-height: 177%;

        @include respond-to(md) {
            padding-left: 30px;
        }
    }

    .review-block__client {
        @extend .small;
        font-size: 14px;
        padding-left: 30px;
    }

    .review-block__link {
        margin-top: 31px;
        text-align: end;
        margin-right: 15px;
        a {
            text-decoration: none;
        }

        i {
            font-size: 22px;
        }
    }
}
