@import "../variables";

.review-card {
    padding: 40px 25px 33px 39px;
    background: #FFFFFF;
    box-shadow: 0 22px 24px rgba(0, 0, 0, 0.06);
    border-radius: 10px;
    width: 100%;
    height: 100%;
    min-height: 450px;
    margin-bottom: 0;
}

.review-card_image, .review-card__left {
    padding: 0;
    position: relative;
    display: flex;

    &:hover {
        transform: scale(1.05);

        .review-card__image {
            filter: blur(2px);
        }

        &:after {
            content: "";
            position: absolute;
            width: 100%;
            height: 100%;
            background: center url('/images/icon-zoom.svg') no-repeat, rgba(0, 112, 201, .2);
            border-radius: 10px;
        }
    }
}

.review-card__image, .review-card__left-image {
    width: 100%;
    height: 100%;
    background-size: cover;
    background-position: center;
}

.review-card_video {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    background-size: cover;
    background-position: center;

    &:hover {
        transform: scale(1.05);
    }

    &:after {
        content: "";
        background: linear-gradient(180deg, rgba(0, 112, 201, 0.33) 0%, rgba(245, 166, 35, 0.33) 100%);
        position: absolute;
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
        border-radius: 10px;
    }

    .review-card__play-btn {
        font-size: 72px;
        color: $secondary;
        position: relative;
        background: none;
        border: none;
        z-index: 5;

        &:hover {
            color: $secondary-light;
        }
    }
}

.review-card_combined {
    min-height: 368px;
    display: flex;
    padding: 0;

    @include respond-to(md) {
        flex-direction: column;
    }
}

.review-card__left {
    width: 50%;
    background: white;
    overflow: hidden;
    border-radius: 10px;

    @include respond-to(md) {
        width: 100%;
        height: 250px;
    }
}

//.review-card__back {
//    width: 100%;
//    overflow: hidden;
//    background: white;
//    border-radius: 10px;
//}

.review-card__right {
    width: 50%;
    padding: 0;

    @include respond-to(md) {
        width: 100%;
    }
}

.review-card__right-text {
    font-size: 24px;
    line-height: 130%;
    background: #0538a1;
    color: white;
    font-weight: bold;
    margin: 0;
    padding: 22px 80px 24px 32px;

    @include respond-to(md) {
        font-size: 20px;
    }
}

.review-card__right-footer {
    padding: 23px 16px 16px 32px;
}

.review-card__stars {
    display: flex;
    width: 192px;
    margin: 0 16px 0 auto;
    height: 48px;
    justify-content: space-between;
}

.review-card__author {
    padding: 0 80px 20px 32px;
}

.review-card__gradient {
    width: 100%;
    height: 100%;
    background: linear-gradient(134.49deg, rgba(193, 196, 215, 0.6) -10.84%, rgba(193, 196, 215, 0) 46.31%);;
    position: absolute;
    border-radius: 10px;
    top: 0;
    left: 0;
}

.review-card__date {
    position: absolute;
    left: 28px;
    top: 22px;
    font-size: 16px;
    font-weight: bold;
    color: $primary;
}