@import "../variables";

.services-block {
    font-size: 16px;
}

.services-block_navbar {
    .services-block__nav-item {
        color: $secondary;
    }

    svg path {
        fill: $primary-light;
    }

    .services-block__sub-nav-item {
        color: white;
    }

    .services-block__nav > li:not(:last-of-type):after {
        background: $primary-light;
    }
}

.services-block__nav > li:not(:last-of-type) {
    position: relative;
    margin-bottom: 50px;

    &:after {
        content: "";
        position: absolute;
        width: 86%;
        height: 1px;
        background: #cbd0d8;
        right: 0;
        bottom: -25px;
    }
}

.services-block__nav, .services-block__sub-nav {
    list-style: none;
    padding: 0;
    margin: 0;
}

.services-block__sub-nav {
    margin-left: 55px;
}

.services-block__nav-item svg {
    margin-right: 15px;
    flex-shrink: 0;
}

.services-block__nav-item, .services-block__sub-nav-item {
    display: block;
    margin-bottom: 15px;
}

.services-block__nav-item {
    color: $primary;
    display: flex;
    align-items: center;
}

.services-block__sub-nav-item {
    color: $dark;
}