.stay-modal {
    color: white;
}

.stay-modal__content {
    background: linear-gradient(90deg, #4ADB9A -2.51%, #0070C9 100%);
    border-radius: 10px;
    border: none;
    overflow: hidden;
}

.stay-modal__left {
    background: url('/images/stay-modal-girl.jpg');
    background-size: cover;
    position: relative;

    &:after {
        content: "";
        position: absolute;
        width: 143px;
        height: 41px;
        background: url('/images/logo-black.svg') no-repeat;
        bottom: 23px;
        left: 23px;
    }
}

.stay-modal__right {
    padding: 64px 48px 72px 88px;
}

.stay-modal__dialog {
    max-width: 1010px;
}