@import "../variables";

.video-card {
    box-shadow: 0 24px 94px rgba(0, 0, 0, 0.15);
    border-radius: 7px;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 680px;
    width: 100%;
    overflow: hidden;
    position: relative;

    @include respond-to(lg) {
        height: 480px;
    }

    @include respond-to(md) {
        height: 250px;
    }
}

.video-card__iframe {
    width: 100%;
    height: 100%;
}

.video-card__foreground {
    background: linear-gradient(90deg, #0070C9 0%, #0538A1 100%);
    position: absolute;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.video-card__play-btn {
    color: $secondary;
    font-size: 72px;
    background: none;
    border: none;

    &:hover {
        color: $secondary-light;
    }

}