@import "../variables";

.why-we-block__card {
    text-align: center;
}

.why-we-block__img {
    width: 104px;
    height: 104px;
    border-radius: 50%;
    background: rgba(0, 112, 201, 0.1);
    margin: 0 auto 20px auto;
    display: flex;
    justify-content: center;
    align-items: center;
    color: $primary-light;

    .fas {
        font-size: 36px;
    }

}