@import "../variables";

html {
    font: $base-font;
    overflow-x: hidden;
}

body {
    font: $base-font;
    width: 100%;
    margin: 0;
    overflow-x: hidden;
}

.bg-gradient {
    background: linear-gradient(90deg, #0538A122 -2.51%, #4ADB9A22 100%) !important;;
}

.bg-gradient-primary {
    background: linear-gradient(90deg, #0538A1 -2.51%, #0070C9 100%);
    a {
        color: white;
    }
}

.bg-gray-light-ultra {
    background: rgba(#CBD0D8, .2) !important;
}

.bg-gradient-primary-light {
    background: linear-gradient(235.73deg, #0070C9 -91.22%, rgba(0, 112, 201, 0) 101.86%), #CFE7F8;
}

.bg-gradient-secondary {
    background: linear-gradient(90deg, #0538A1 -2.51%, #37AE9C 100%);
    a {
        color: white;
    }
}

.bg-gradient-light {
    background: linear-gradient(223.74deg, #FFFFFF -91.22%, #DEF3E9 101.86%), #CFE7F8;
}

.overflow-visible {
    overflow: visible !important;
}

.z-11 {
    z-index: 11;
}

section.bg-gradient, section.bg-gray-light, section.bg-gray-light {
    color: $dark;
}

section.bg-gradient-primary, section.bg-gradient-primary-light {
    color: white;

    .text-invert {
        color: white;
    }

    .input {
        input,
        textarea {
            color: white;

            &::placeholder {
                color: white;
            }
        }

        label {
            color: white;

        }
    }
}