@import "../variables";

.list_circles {
    list-style: none;
    padding-left: 70px;

    li + li {
        margin-top: 46px;
    }

    li ul{
        margin-top: 46px;
        padding-left: 46px;
    }

    li {
        &::before {
            content: "";
            width: 10px;
            height: 10px;
            background: $primary-light;
            display: inline-block;
            border-radius: 50%;
            margin-right: 22px;
        }
    }

    @include respond-to(md) {
        padding-left: 15px;
    }
}

.list_numbered {
    counter-reset: item;
    list-style: none;
    margin-bottom: 0;
    padding-left: 70px;

    li + li {
        margin-top: 46px;
    }

    li ol{
        margin-top: 46px;
        padding-left: 46px;

        li::before{
            content: counter(item, upper-latin);
        }
    }

    li {
        &::before {
            content: counter(item, decimal);
            counter-increment: item;
            color: $primary-light;
            margin-right: 22px;
            font-weight: bold;
            font-size: 18px;
        }
    }

    @include respond-to(md) {
        padding-left: 15px;
    }
}
