@import "../variables";

.table {
    width: 100%;
    min-width: 728px;

    th, tr, td {
        border: none !important;
    }

    td, th {
        padding: 40px 30px;
    }

    tr {
        margin: 0;
    }

    tbody {
        tr:nth-child(odd) {
            background: rgba(#CBD0D8, .3);
            border-radius: 7px;
            overflow: hidden;
        }
    }
}
