@import "../variables";

.p-404__entry-block {
}

.p-404__entry-block-img {
    margin-top: -160px;
    margin-bottom: -105px;
    z-index: 11;
    position: relative;

    @include respond-to(md) {
        margin-top: -50px;
        max-width: 100%;
        margin-bottom: 0;
    }
}