@import "../variables";

.reviews__entry-block {
    background: linear-gradient(223.74deg, #FFFFFF -91.22%, #DEF3E9 101.86%), #CFE7F8;
}

.reviews__entry-block-img {
    margin-left: -350px;
    height: 100%;

    @include respond-to(md) {
        margin: 0;
        height: auto;
        width: 100%;
        position: absolute;
        bottom: 0;
        left: 0;
    }
}