@import "../variables";

.service__entry-block {
    //background: linear-gradient(235.73deg, #0070C9 -91.22%, rgba(0, 112, 201, 0) 101.86%), #CFE7F8;
    position: relative;
    padding: 70px 0;
}

.service__entry-block-img {
    height: 102%;
    position: absolute;
    bottom: 0;
    margin-left: -100px;
    z-index: 11;
}

.service__cert-image {
    max-width: 100%;
    box-shadow: 0 24px 94px rgba(0, 0, 0, 0.15);
    border-radius: 7px;
}

.service__price-block {
    //background: linear-gradient(90deg, #0538A122 -2.51%, #4ADB9A22 100%);
}

.service-related-products-block {
    //background: linear-gradient(90deg, #0538A122 -2.51%, #4ADB9A22 100%);
}

.service__price-table-col-1 {
    font-size: 24px;
    font-weight: bold;
    color: $primary-light;
}