@import "../variables";

.services__entry-block {
    background-image: linear-gradient(to right, #cce7f8 5%, transparent 50%), url(/images/index/entry-bg.jpg);
    //padding: 0;
    z-index: 11;
    position: relative;

    .swiper-slide, .row, .row > * {
        position: static;
    }

    .entry-block__slider-controls {
        bottom: 0;
    }

    @include respond-to(xl){
        overflow-x: hidden;
    }
}

.services__entry-swiper-container {
    overflow: visible;
}

.services__entry-block-img {
    height: 102%;
    position: absolute;
    bottom: 0;
    z-index: 11;
}

//.services__entry-block-slides {
//    padding-top: 111px;
//    padding-bottom: 105px;
//}