@import "../variables";

.footer {
    background: $primary-light;
    color: white;

    .footer__dev-link {
        padding: 22px 0;
        background: linear-gradient(90deg, #0070C9 0%, #0538A1 100%);
    }

    .footer-list {
        list-style: none;
        padding: 0;
        margin: 0;

        .footer-list__item {
            margin-bottom: 12px;
            &:last-of-type {
                margin-bottom: 0;
            }
        }

        .footer-list__link {
            color: white;
        }
    }

    .footer-social {
        font-size: 18px;
        display: flex;
        justify-content: space-between;

        @include respond-to(md) {
            padding: 0 15px;
        }

        .footer-social__link {
            color: white;
        }
    }
}

.footer__brand {
    width: 163px;
}

.footer__brand-label {
    font-size: 9px;
    padding-left: 43px;
}