@import "../variables";

$collapse-breakpoint: xl;

.navbar {
    padding: 0;
    font-size: 14px;
    z-index: 10;
    display: block;
    position: fixed;
    top: 0;
    width: 100%;

    &:hover {
        z-index: 15;
    }

    @media (min-width: 1200px) {
        &.minimized {
            .navbar__top {
                margin-bottom: -32px;
            }

            .navbar__buttons {
                margin-bottom: -30px;
                transform: translateY(-255px);
            }

            .navbar__link {
                padding-top: 16px;
                padding-bottom: 28px;
            }

            .navbar__phone {
                opacity: 1;
                pointer-events: auto;
            }

            .navbar__item_expanded:after {
                margin-top: -24px;
            }

            .navbar__brand-label {
                margin-bottom: -26px;
                opacity: 0;
            }
        }
    }
}

.navbar__bottom {
    display: flex;
    background: $primary;
    width: 100%;
    position: relative;

    @include respond-to($collapse-breakpoint) {
        padding: 10px 0;
    }
}

.navbar__brand {
    width: 155px;
}

.navbar__brand-label {
    font-size: 9px;
    color: $secondary;
    padding-left: 43px;
    transition: all 0.2s ease-in;

    @include respond-to($collapse-breakpoint) {
        margin-top: -10px;
    }
}

.navbar__item {
    background-color: transparent;
    transition: background-color 0.1s ease-in;
    &:hover {
        background: $primary-light;
    }

    @include respond-to($collapse-breakpoint) {
        background: none !important;
    }
}

.navbar__link {
    color: white;
    padding: 36px 14px 55px 14px;
    display: block;
    font-weight: bold;
    transition: padding 0.1s ease-in;
    text-align: center;
    white-space: nowrap;

    &:hover {
        text-decoration: none;
        color: white;
    }

    @include respond-to($collapse-breakpoint) {
        padding: 15px 0;
    }
}

.navbar__menu {
    display: flex;
    list-style: none;
    margin: auto;
    padding: 0;

    @include respond-to($collapse-breakpoint) {
        flex-direction: column;
        align-items: center;
    }
}

.navbar__buttons {
    width: 192px;
    text-align: center;
    position: relative;
    transition: all 0.25s ease-in;

    @include respond-to($collapse-breakpoint) {
        margin: auto;
    }
}

.navbar__mail-director {
    color: white;

    &:hover {
        color: $secondary;
        text-decoration: none;
    }
}

.navbar__phone {
    color: $secondary;
    font-size: 22px;
    font-weight: bold;
    text-decoration: none;
    display: block;
    position: absolute;
    margin-top: 185px;
    opacity: 0;
    pointer-events: none;
    transition: opacity 0.25s ease-in;

    &:hover {
        color: $secondary-light;
    }
}

.navbar__expand {
    background: rgba($primary, .97);
    position: absolute;
    width: 100%;
    left: 0;
    padding: 47px 0;
    display: none;

    @include respond-to($collapse-breakpoint) {
        display: none !important;
    }
}

.navbar__item_expanded {
    &:after {
        content: '\f078';
        font-family: "Font Awesome 5 Free", sans-serif;
        font-weight: 900;
        font-style: normal;
        font-variant: normal;
        text-rendering: auto;
        color: white;
        position: relative;
        width: 100%;
        display: block;
        text-align: center;
        margin-top: -30px;
        margin-bottom: -47px;
        transition: all 0.1s ease-in;

        @include respond-to($collapse-breakpoint) {
            content: none;
        }
    }

    &:hover {
        .navbar__expand {
            display: block;
        }

        &:after {
            transform: scale(1.3);
        }
    }
}

.navbar-about__link {
    color: white;
    text-decoration: none !important;
    font-weight: 900;
    font-size: 18px;

    &:hover {
        color: $secondary;
    }
}

.navbar-about__address {
    font-weight: 900;
    font-size: 18px;
    line-height: 200%;
}

.navbar-about__nav-link {
    color: $secondary !important;
    font-weight: 500;
    font-size: 18px;

    i {
        color: $primary-light;
        margin-right: 15px;
        font-size: 24px;
        width: 40px;
        height: 40px;
        vertical-align: middle;
        text-align: center;
        line-height: 40px;
    }
}

.navbar__top {
    background: white;
    overflow-x: hidden;
    transition: margin-bottom 0.1s ease-in;

    @include respond-to(lg) {
        display: none;
    }
}

//.navbar__block-animation{
//    opacity: 0;
//    max-height: 0;
//    overflow: hidden;
//    -moz-transition: opacity 0.3s, max-height 0.3s;
//    -ms-transition: opacity 0.3s, max-height 0.3s;
//    transition: opacity 0.3s, max-height 0.3s;
//    _display: none;
//}

//.navbar__block-animation_visible{
//    max-height: 100px;
//    opacity: 1;
//    _display: block;
//}

.navbar__top-content {
    transform: translateX(0);
    transition: transform 0.25s ease-in;
    width: 100%;
    flex-wrap: nowrap;
    align-items: center;
}

.navbar__top-content_active {
    transform: translateX(-58.27%);

    .navbar__top-contacts {
        opacity: 0;
    }
}

.navbar__top-contacts {
    display: flex;
    font-size: 14px;
    opacity: 1;
    transition: opacity 0.25s ease-in;
}

.navbar__search-field {
    border: none;
    outline: none !important;
    height: 32px;
    position: relative;
    width: 100%;
    transition: all 0.25s ease-in;
    font-size: 16px;

    &::placeholder {
        color: $primary;
    }

    &:focus {
        height: 48px;

        &::placeholder {
            color: white;
        }

        &:invalid {
            & ~ .navbar__search-hint {
                display: flex;
            }
        }
    }

    &:valid {
        height: 48px;

        & ~ .navbar__search-hint {
            display: none;
        }
    }
}

.navbar__search-field-wrap {
    position: relative;
    width: 558px;
    display: flex;
    align-items: center;
}

.navbar__search-hint {
    font-size: 16px;
    white-space: nowrap;
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 24px;
    margin: auto;
    align-items: center;
    pointer-events: none;
    display: none;
}

.navbar__mobile-search {
    position: relative;

    i {
        position: absolute;
        top: 15px;
        left: 15px;
        color: $primary;
    }

    input {
        border-radius: 10px;
        border: none;
        height: 41px;
        width: 100%;
        padding-left: 39px;
    }
}

.navbar + * {
    margin-top: 142px;

    @include respond-to(xl) {
        margin-top: 111px;
    }

    @include respond-to(lg) {
        margin-top: 79px;
    }
}