@import "~bootstrap/scss/functions";
@import "~bootstrap/scss/variables";
@import "~@fortawesome/fontawesome-free/scss/variables";

$dark: rgba(#212126, 1);
$primary: rgba(#0538A1, 1);
$primary-light: rgba(#0070C9, 1);
$secondary: rgba(#4ADB9A, 1);
$secondary-dark: rgba(#38996D, 1);
$secondary-light: rgba(#86EFC0, 1);
$gray: rgba(#8F939E, 1);
$gray-light: rgba(#CBD0D8, 1);
$warning: rgba(#F2C94C, 1);
$danger: rgba(#EB5757, 1);

$base-font-name: Navigo;
$header-font-name: Navigo;

$body-color: $dark;

$btn-font: 700 18px/100% $base-font-name, sans-serif;

$base-font: 400 18px/normal $base-font-name, sans-serif;

$h1-font: 400 72px/100% $header-font-name, sans-serif;
$h1-font-sm: 400 48px/normal $header-font-name, sans-serif;
$h1-margin-bottom: 68px;

$h2-font: 700 48px/116% $header-font-name, sans-serif;
$h2-font-sm: 700 28px/normal $header-font-name, sans-serif;
$h2-margin-bottom: 46px;

$h3-font: 700 36px/normal $header-font-name, sans-serif;
$h3-font-sm: 700 24px/normal $header-font-name, sans-serif;
$h3-margin-bottom: 27px;

$h4-font: 700 24px/normal $header-font-name, sans-serif;
$h4-font-sm: 700 18px/normal $header-font-name, sans-serif;
$h4-margin-bottom: 25px;

$h5-font: 400 20px/130% $header-font-name, sans-serif;
$h5-font-sm: 400 18px/normal $header-font-name, sans-serif;
$h5-margin-bottom: 37px;

$spacers: (
        '6': 66px,
        '7': 100px
);

$theme-colors: (
        "dark":$dark,
        "primary":$primary,
        "primary-light":$primary-light,
        "secondary":$secondary,
        "secondary-dark":$secondary-dark,
        "secondary-light":$secondary-light,
        "gray":$gray,
        "gray-light":$gray-light,
        "warning":$warning,
        "danger":$danger,
);

$container-max-widths: (
        xl: 1246px
);

$fa-font-path: "/fonts/fontawesome";

@mixin respond-to($breakpoint) {
    // If the breakpoint exists in the map.
    @if map-has-key($grid-breakpoints, $breakpoint) {
        // Write the media query.
        @media (max-width: map-get($grid-breakpoints, $breakpoint)) {
            @content;
        }

        // If the breakpoint doesn't exist in the map.
    } @else {

        // Log a warning.
        @warn 'Invalid breakpoint: #{$breakpoint}.';
    }
}