@import '../variables';

.advantages-block {
    .advantages-block__title {
        margin-bottom: 90px;
        text-align: center;

        @include respond-to(md) {
            margin-bottom: 32px;
        }
    }

    h3, .h3 {
        color: $primary-light;
    }
}