@import "../variables";

.cell-list {
    color: $primary-light;
    list-style: none;
    padding: 0;
    margin-bottom: 0;
    display: flex;
    flex-wrap: wrap;

    li {
        padding: 54px 0;
        width: 50%;
        position: relative;

        @include respond-to(md) {
            width: 100%;
            text-align: center !important;
            padding: 25px 0 !important;
            border-right: none !important;

            &:after {
                left: 0 !important;
                right: 0 !important;;
                margin: auto !important;;
            }
        }

        &:after {
            content: "";
            position: absolute;
            width: 175px;
            height: 1px;
            bottom: 0;
            right: 16px;
            background: rgba($gray-light, .5);
        }

        &:nth-child(odd) {
            text-align: right;
            padding-right: 54px;
            border-right: 1px solid rgba($gray-light, .5);
        }

        &:nth-child(even) {
            padding-left: 54px;
            &:after {
                left: 16px;
                right: auto;
            }
        }

        &:nth-last-child(1):after, &:nth-last-child(2):nth-child(odd):after {
            content: none;
        }
    }
}

.cell-list_sm-padding {
    li {
        padding: 35px 0;
    }
}