@import "../variables";

.certificates-block {
    //background: rgba($gray-light, .2);
}

.certificates-block__img {
    box-shadow: 0 24px 94px rgba(0, 0, 0, 0.15);
    @include respond-to(md) {
        height: 250px;
    }
}

.certificates-block__cert-desc, .certificates-block__slider-controls {
    margin-bottom: 140px;
    @include respond-to(md) {
        margin-bottom: 0;
    }
}

.certificates-block__slider-controls {
    position: relative;
    z-index: 5;
    margin-top: -140px;
    @include respond-to(md) {
        margin-top: 45px;
        justify-content: center;
    }
}
