@import '../variables';

.client-card {
    background: #FFFFFF;
    box-shadow: 0 22px 24px rgba(0, 0, 0, 0.06);
    border-radius: 10px;
    height: 190px;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: box-shadow 0.1s ease-in;

    @include respond-to(lg) {
        height: 140px;
        margin-bottom: 15px;
    }

    &:hover {
        box-shadow: 0 22px 24px rgba(0, 0, 0, 0.14);
    }
}

.client-card__image {
    max-width: 75%;
}