.entry-block {
    padding-top: 111px;
    padding-bottom: 105px;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;

    @include respond-to(md) {
        padding-top: 50px;
        //padding-bottom: 50px;
    }

    .h4 {
        line-height: 175%;
    }
}

.entry-block_sm {
    height: 480px;
    padding: 0;
}

.entry-block__slider-controls-container {
    position: absolute;
    z-index: 5;
    margin: auto;
    left: 0;
    right: 0;
    bottom: 0;
    display: flex;
    justify-content: flex-end;
}

.entry-block__slider-controls {
    .slider-controls__prev {
        border-radius: 10px 0 0 0;
    }

    .slider-controls__next {
        border-radius: 0 10px 0 0;
    }
}