@import "../variables";

.object-selector {
    //background: linear-gradient(90deg, #0538A122 -2.51%, #4ADB9A22 100%);
    overflow: hidden;
}

.object-selector__nav-wrap {
    overflow-x: auto;
    margin: -25px;
    padding: 25px;
}

.object-selector__nav {
    display: flex;
    width: 100%;
    list-style: none;
    font-weight: bold;
    justify-content: space-between;
    padding: 0;
    margin: 0;
    min-width: 960px;
}

.object-selector__nav-item_active {
    color: $gray-light;
    position: relative;
    &:before {
        content: "";
        position: absolute;
        width: 48px;
        height: 48px;
        border-radius: 50%;
        background: $primary;
        z-index: -1;
        top: -10px;
        left: -18px;
    }
}

.object-selector__nav-item_disabled {
    color: $gray-light;
    pointer-events: none;
}

.object-selector__content {
    font-size: 14px;
}