.company-team {
    //background: linear-gradient(90deg, rgb(5, 56, 161, 0.1), rgb(74, 219, 154, 0.1));
    padding: 87px 0;
}

.company-team__img {
    margin-bottom: 38px;
}

.company-team__social {
    display: flex;
    justify-content: space-between;
    margin-top: 26px;

    a {
        color: $primary-light;
    }
}