@import '../variables';

.package-card {
    transition: transform 0.1s ease-in;
    transform: scale(1);

    &:hover {
        transform: scale(1.02);
    }
}

.package-card, .package-card__title {
    background: linear-gradient(90deg, #0070C9 0%, #0538A1 100%);
    box-shadow: 0 24px 94px rgba(0, 0, 0, 0.15);
    border-radius: 7px;
    text-align: center;
}

.package-card__title {
    padding: 25px;
    color: white;
}

.package-card__items {
    color: white;
    list-style: none;
    margin: 0;
    padding: 0;
}

.package-card__item {
    padding: 25px 18px;
    position: relative;

    &:after {
        content: "";
        width: 176px;
        height: 1px;
        position: absolute;
        bottom: 0;
        left: 0;
        right: 0;
        margin: auto;
        background: $primary-light;
    }
}

.package-card__item_disabled {
    color: rgba(white, .2);
}

.package-card__price {
    color: $secondary;
    padding: 25px 0;
}