@import "../variables";

.pagination {
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0;
    justify-content: center;
}

.pagination__item {
    background: rgba($primary, 0.1);
    padding: 20px 18px 20px 18px;
    width: 56px;
    height: 56px;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: background 0.1s ease-in;

    @include respond-to(md) {
        width: 40px;
        height: 40px;
    }
}

.pagination__item_prev, .pagination__item_next {
    background: $primary;
    padding: 18px;
    &:after {
        content: "";
        display: block;
        background: url('/images/index/icon-arrow-left.svg') no-repeat;
        width: 20px;
        height: 20px;
    }

    &:hover {
        background: rgba($primary, .8);
    }
}

.pagination__item_prev {
    border-radius: 10px 0 0 10px;
}

.pagination__item_next {
    border-radius: 0 10px 10px 0;

    &:after {
        transform: rotate(180deg);
    }
}

.pagination__item_current {
    color: rgba($primary, .2) !important;
    text-decoration: none !important;
}