@import "../variables";

.promo-cert {
    background: url('/images/index/promo-cert-bg.png') 42% 0 no-repeat,
    linear-gradient(90deg, #4ADB9A -2.51%, #0070C9 100%);
    border-radius: 10px;
    padding: 75px 0;
    color: white;

    @include respond-to(md) {
        padding: 15px;
        margin: 0 -15px;
    }
}

.promo-cert__incredible {
    font-size: 36px;
    font-weight: 200;
    line-height: 115%;
}

.promo-cert__x2 {
    font-size: 144px;
    color: $warning;
    font-weight: 700;
    display: inline-block;
    margin-top: -105px;
    margin-left: 110px;
    margin-bottom: 35px;
}