@import "../variables";

.article__pdf-wrapper {
    background: linear-gradient(90deg, rgba(0, 112, 201, 0.1) 0%, rgba(5, 56, 161, 0.1) 100%);
    padding: 30px;
    border-radius: 5px;

    .article__pdf-icon {
        font-size: 72px;
        opacity: 0.3;
        float: left;
        margin-right: 19px;
    }
    a {
        text-decoration: none;
    }
}
//
//.article__img-wrapper {
//    overflow: hidden;
//    position: relative;
//
//    .article__gradient {
//        background: linear-gradient(180deg, rgba(5, 56, 161, 0.55) 0%, rgba(5, 56, 161, 0) 100%);
//        width: 100%;
//        height: 100%;
//        position: absolute;
//        display: block;
//        top: 0;
//    }
//}