.contacts__entry-block {
    background: linear-gradient(223.74deg, #FFFFFF -91.22%, #DEF3E9 101.86%), #CFE7F8;
}

.contacts__weekends {
    color: #EB5757;
    margin-bottom: 0;
    font-weight: normal;
}

.contacts__other-cities {
    padding-top: 64px;
    padding-bottom: 76px;
}