@import "../variables";

.faq__entry-block {
    background: linear-gradient(223.74deg, #FFFFFF -91.22%, #DEF3E9 101.86%), #CFE7F8;
}

.faq__list-wrap {
    margin-bottom: 35px;
}

.faq__list {
    list-style: none;
    margin: 0;
    padding: 0;

    li {
        position: relative;
        margin-bottom: 65px;

        &:after {
            position: absolute;
        }

        @include respond-to(md) {
            margin-bottom: 45px;
        }
    }
}

.faq__list-toggler {
    margin-bottom: 65px;
    text-decoration: none !important;
    display: flex;
    color: $primary-light;

    @include respond-to(md) {
        margin-bottom: 15px;
    }

    &:before {
        content: '+';
        font-size: 64px;
        margin-right: 25px;
        transition: transform 0.1s ease-in;
        height: 37px;
        line-height: 50px;
        margin-top: 15px;

        @include respond-to(md) {
            font-size: 32px;
            margin-right: 15px;
            height: 25px;
            line-height: 100%;
            margin-top: 0;
        }
    }

    &[aria-expanded="true"] {
        color: $dark;

        &:before {
            transform: rotate(45deg);
        }
    }
}

.faq__list-collapse {
    padding-left: 60px;
    padding-right: 50px;
    transform: translateY(-20px);
    &:after {
        content: "";
        display: block;
        height: 25px;
    }

    @include respond-to(md) {
        padding: 0;
    }
}