@import "../variables";

.project__entry-block {
    background: linear-gradient(223.74deg, #FFFFFF -91.22%, #DEF3E9 101.86%), #CFE7F8;
}

.project__entry-block-text {
    position: relative;
    z-index: 2;
}

.project__entry-block-img-wrap {
    padding-top: 15px;
    @include respond-to(md) {
        margin: 0;
        position: absolute;
        bottom: 0;
        height: auto;
        width: 120%;
    }
}

.project__entry-block-img {
    margin-left: -350px;
    height: 100%;
    @include respond-to(md) {
        margin: 0;
        height: auto;
        width: 120%;
    }
}

.project__separator {
    margin: 70px 0;
}

.project__list {
    list-style: none;
    padding: 0;
    margin: 0;

}

.project__list-item {
    margin-bottom: 36px;
}
