@import "../variables";

.projects__entry-block {
    background: 130%/70% no-repeat url('/images/projects/entry-bg.svg'), linear-gradient(223.74deg, #FFFFFF -91.22%, #DEF3E9 101.86%), #CFE7F8;
    position: relative;
}

.projects__entry-block-img {
    position: absolute;
    height: 104%;
    bottom: 0;
    z-index: 11;
}