body, html {
    overflow-x: hidden
}

body {
    font: 400 18px/normal Navigo, sans-serif;
    width: 100%;
    margin: 0
}

.bg-gradient {
    background: -webkit-gradient(linear, left top, right top, color-stop(-2.51%, rgba(5, 56, 161, .13)), to(rgba(74, 219, 154, .13))) !important;
    background: linear-gradient(90deg, rgba(5, 56, 161, .13) -2.51%, rgba(74, 219, 154, .13)) !important
}

.bg-gradient-primary {
    background: -webkit-gradient(linear, left top, right top, color-stop(-2.51%, #0538a1), to(#0070c9));
    background: linear-gradient(90deg, #0538a1 -2.51%, #0070c9)
}

.bg-gradient-primary a {
    color: #fff
}

.bg-gray-light-ultra {
    background: rgba(203, 208, 216, .2) !important
}

.bg-gradient-primary-light {
    background: linear-gradient(235.73deg, #0070c9 -91.22%, rgba(0, 112, 201, 0) 101.86%), #cfe7f8
}

.bg-gradient-secondary {
    background: -webkit-gradient(linear, left top, right top, color-stop(-2.51%, #0538a1), to(#37ae9c));
    background: linear-gradient(90deg, #0538a1 -2.51%, #37ae9c)
}

.bg-gradient-secondary a {
    color: #fff
}

.bg-gradient-light {
    background: linear-gradient(223.74deg, #fff -91.22%, #def3e9 101.86%), #cfe7f8
}

.overflow-visible {
    overflow: visible !important
}

.z-11 {
    z-index: 11
}

section.bg-gradient, section.bg-gray-light {
    color: #212126
}

section.bg-gradient-primary, section.bg-gradient-primary-light, section.bg-gradient-primary-light .input input, section.bg-gradient-primary-light .input textarea, section.bg-gradient-primary-light .text-invert, section.bg-gradient-primary .input input, section.bg-gradient-primary .input textarea, section.bg-gradient-primary .text-invert {
    color: #fff
}

section.bg-gradient-primary-light .input input::-webkit-input-placeholder, section.bg-gradient-primary-light .input textarea::-webkit-input-placeholder, section.bg-gradient-primary .input input::-webkit-input-placeholder, section.bg-gradient-primary .input textarea::-webkit-input-placeholder {
    color: #fff
}

section.bg-gradient-primary-light .input input::-moz-placeholder, section.bg-gradient-primary-light .input textarea::-moz-placeholder, section.bg-gradient-primary .input input::-moz-placeholder, section.bg-gradient-primary .input textarea::-moz-placeholder {
    color: #fff
}

section.bg-gradient-primary-light .input input:-ms-input-placeholder, section.bg-gradient-primary-light .input textarea:-ms-input-placeholder, section.bg-gradient-primary .input input:-ms-input-placeholder, section.bg-gradient-primary .input textarea:-ms-input-placeholder {
    color: #fff
}

section.bg-gradient-primary-light .input input::-ms-input-placeholder, section.bg-gradient-primary-light .input textarea::-ms-input-placeholder, section.bg-gradient-primary .input input::-ms-input-placeholder, section.bg-gradient-primary .input textarea::-ms-input-placeholder {
    color: #fff
}

section.bg-gradient-primary-light .input input::placeholder, section.bg-gradient-primary-light .input textarea::placeholder, section.bg-gradient-primary .input input::placeholder, section.bg-gradient-primary .input textarea::placeholder {
    color: #fff
}

section.bg-gradient-primary-light .input label, section.bg-gradient-primary .input label {
    color: #fff
}

@font-face {
    font-family: Navigo;
    src: url(/fonts/Navigo-ExtraLight.ttf);
    font-weight: 200;
    font-style: normal
}

@font-face {
    font-family: Navigo;
    src: url(/fonts/Navigo-Thin.ttf);
    font-weight: 100;
    font-style: normal
}

@font-face {
    font-family: Navigo;
    src: url(/fonts/Navigo-Black.ttf);
    font-weight: 900;
    font-style: normal
}

@font-face {
    font-family: Navigo;
    src: url(/fonts/Navigo-Medium.ttf);
    font-weight: 500;
    font-style: normal
}

@font-face {
    font-family: Navigo;
    src: url(/fonts/Navigo-Light.ttf);
    font-weight: 300;
    font-style: normal
}

@font-face {
    font-family: Navigo;
    src: url(/fonts/Navigo-Regular.ttf);
    font-weight: 400;
    font-style: normal
}

@font-face {
    font-family: Navigo;
    src: url(/fonts/Navigo-Bold.ttf);
    font-weight: 700;
    font-style: normal
}

html {
    font: 400 18px/normal Navigo, sans-serif
}

.description-block__label-digit, .h1, .h2, .h3, .h4, h1, h2, h3, h4 {
    font-weight: 700
}

.description-block__label-digit, .h1, h1 {
    font: 400 72px/100% Navigo, sans-serif;
    margin-bottom: 68px
}

.h2, h2 {
    font: 700 48px/116% Navigo, sans-serif;
    margin-bottom: 46px
}

.h3, h3 {
    font: 700 36px/normal Navigo, sans-serif;
    margin-bottom: 27px
}

.h4, h4 {
    font: 700 24px/normal Navigo, sans-serif;
    margin-bottom: 25px
}

.h5, h5 {
    font: 400 20px/130% Navigo, sans-serif;
    margin-bottom: 37px
}

.description-block__label-txt, .h6, h6 {
    font-size: 18px;
    font-weight: 500;
    text-transform: uppercase;
    margin-bottom: 37px
}

.subtitle {
    font-size: 16px;
    font-weight: 400
}

.subtitle-sm {
    font-size: 14px;
    font-weight: 300
}

.small, small {
    font-size: 12px
}

.extra-small {
    font-size: 11px
}

@media (max-width: 576px) {
    .description-block__label-digit, .h1, h1 {
        font: 400 48px/normal Navigo, sans-serif
    }

    .h2, h2 {
        font: 700 28px/normal Navigo, sans-serif
    }

    .h3, h3 {
        font: 700 24px/normal Navigo, sans-serif
    }

    .h4, h4 {
        font: 700 18px/normal Navigo, sans-serif
    }

    .h5, h5 {
        font: 400 18px/normal Navigo, sans-serif
    }
}

a {
    color: #0538a1
}

.font-weight-medium {
    font-weight: 500 !important
}

.font-normal {
    font-style: normal
}

.input {
    margin-bottom: 1rem;
    width: 100%;
    position: relative
}

.input input, .input textarea {
    width: 100%;
    color: #212126;
    background: none;
    border: 2px solid #cbd0d8;
    border-radius: 10px;
    padding: 17px 15px;
    box-sizing: border-box;
    font-size: 20px;
    outline: none !important
}

.input input::-webkit-input-placeholder, .input textarea::-webkit-input-placeholder {
    color: #8f939e
}

.input input::-moz-placeholder, .input textarea::-moz-placeholder {
    color: #8f939e
}

.input input:-ms-input-placeholder, .input textarea:-ms-input-placeholder {
    color: #8f939e
}

.input input::-ms-input-placeholder, .input textarea::-ms-input-placeholder {
    color: #8f939e
}

.input input::placeholder, .input textarea::placeholder {
    color: #8f939e
}

.input input:focus::-webkit-input-placeholder, .input textarea:focus::-webkit-input-placeholder {
    color: transparent
}

.input input:focus::-moz-placeholder, .input textarea:focus::-moz-placeholder {
    color: transparent
}

.input input:focus:-ms-input-placeholder, .input textarea:focus:-ms-input-placeholder {
    color: transparent
}

.input input:focus::-ms-input-placeholder, .input textarea:focus::-ms-input-placeholder {
    color: transparent
}

.input input:focus::placeholder, .input textarea:focus::placeholder {
    color: transparent
}

.input label {
    font-size: 11px;
    line-height: 1;
    color: #8f939e;
    margin-bottom: 0;
    margin-left: 17px
}

.input_btn {
    display: -webkit-box;
    display: flex
}

.input_btn .btn {
    margin-left: -15px
}

.input_light input, .input_light textarea {
    color: #fff
}

.input_light input::-webkit-input-placeholder, .input_light textarea::-webkit-input-placeholder {
    color: #fff
}

.input_light input::-moz-placeholder, .input_light textarea::-moz-placeholder {
    color: #fff
}

.input_light input:-ms-input-placeholder, .input_light textarea:-ms-input-placeholder {
    color: #fff
}

.input_light input::-ms-input-placeholder, .input_light textarea::-ms-input-placeholder {
    color: #fff
}

.input_light input::placeholder, .input_light textarea::placeholder {
    color: #fff
}

.input_light label {
    color: #fff
}

.input_dark input, .input_dark textarea {
    color: #212126;
    border-color: #38996d
}

.input_dark input::-webkit-input-placeholder, .input_dark textarea::-webkit-input-placeholder {
    color: #212126
}

.input_dark input::-moz-placeholder, .input_dark textarea::-moz-placeholder {
    color: #212126
}

.input_dark input:-ms-input-placeholder, .input_dark textarea:-ms-input-placeholder {
    color: #212126
}

.input_dark input::-ms-input-placeholder, .input_dark textarea::-ms-input-placeholder {
    color: #212126
}

.input_dark input::placeholder, .input_dark textarea::placeholder {
    color: #212126
}

.input_dark label {
    color: #212126
}

.input-cb {
    margin-bottom: 1rem;
    position: relative;
    display: -webkit-box;
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    line-height: 1
}

.input-cb label {
    margin-bottom: 0;
    padding-left: 35px
}

.input-cb input:disabled + label {
    opacity: .5
}

.input-cb input[type=checkbox] {
    opacity: 0;
    position: absolute
}

.input-cb input[type=checkbox] ~ label {
    cursor: pointer;
    -webkit-box-align: center;
    align-items: center
}

.input-cb input[type=checkbox] ~ label:before {
    content: "";
    flex-shrink: 0;
    color: inherit;
    border: none !important;
    box-shadow: none !important;
    -webkit-box-align: center;
    align-items: center;
    font-size: 25px;
    line-height: 1;
    -webkit-transition: -webkit-transform .1s ease-in;
    transition: -webkit-transform .1s ease-in;
    transition: transform .1s ease-in;
    transition: transform .1s ease-in, -webkit-transform .1s ease-in;
    border-radius: 0;
    background-color: rgba(0, 0, 0, .19);
    top: 0;
    bottom: 0;
    left: 0;
    width: 25px;
    height: 25px;
    font-weight: 900;
    text-align: center;
    position: absolute
}

.input-cb input[type=checkbox] ~ label:after {
    content: none !important
}

.input-cb input[type=checkbox]:checked ~ label:before {
    content: "";
    background-image: url(/images/index/icon-check.svg);
    background-repeat: no-repeat;
    background-position: 50%;
    background-color: transparent;
    background-size: 100% 100%;
    width: 25px;
    height: 25px
}

.input-cb input[type=checkbox]:active ~ label:before {
    -webkit-transform: scale(.8);
    transform: scale(.8)
}

.input-cb_dark input[type=checkbox]:checked ~ label:before {
    background-image: url(/images/icon-check-dark.svg)
}

.input-cb_sm label {
    font-size: 11px;
    line-height: 14px;
    padding-left: 25px
}

.input-cb_sm input[type=checkbox]:checked ~ label:before, .input-cb_sm input[type=checkbox] ~ label:before {
    width: 16px;
    height: 16px
}

.input_sm input {
    padding: 12px;
    border-radius: 5px;
    font-size: 18px
}

.input_icon {
    display: -webkit-box;
    display: flex;
    flex-wrap: wrap;
    -webkit-box-align: center;
    align-items: center
}

.input_icon i {
    margin-right: -60px;
    width: 60px;
    text-align: center;
    font-size: 24px
}

.input_icon input {
    padding-left: 60px
}

.input_icon.input_sm input {
    padding-left: 40px
}

.input_icon.input_sm i {
    margin-right: -40px;
    width: 40px;
    font-size: 18px
}

.input_bg-gradient input {
    background: -webkit-gradient(linear, left top, right top, from(rgba(153, 158, 161, .1)), to(rgba(5, 56, 161, .1)));
    background: linear-gradient(90deg, rgba(153, 158, 161, .1), rgba(5, 56, 161, .1));
    border: none;
    color: #0538a1
}

.input_bg-gradient input::-webkit-input-placeholder {
    color: #0538a1
}

.input_bg-gradient input::-moz-placeholder {
    color: #0538a1
}

.input_bg-gradient input:-ms-input-placeholder {
    color: #0538a1
}

.input_bg-gradient input::-ms-input-placeholder {
    color: #0538a1
}

.input_bg-gradient input::placeholder {
    color: #0538a1
}

.btn {
    border-radius: 10px;
    border: none;
    font: 700 18px/100% Navigo, sans-serif;
    padding: 24px 101px;
    max-width: 100%;
    text-transform: uppercase;
    color: #fff;
    text-decoration: none !important;
    text-align: center;
    display: inline-block;
    outline: none !important;
    -webkit-transition: all .1s ease-in;
    transition: all .1s ease-in;
    background: #cbd0d8
}

@media (max-width: 768px) {
    .btn {
        padding-left: 25px;
        padding-right: 25px
    }
}

.btn:hover {
    color: #fff
}

.btn.btn_primary {
    background: #0538a1
}

.btn.btn_primary:hover {
    background: #0070c9
}

.btn.btn_primary.btn_outline {
    background: none;
    color: #0538a1 !important;
    border: 2px solid #0538a1
}

.btn.btn_primary.btn_outline:hover {
    background: #0538a1;
    color: #fff !important
}

.btn.btn_secondary {
    background: #4adb9a
}

.btn.btn_secondary:hover {
    background: #38996d
}

.btn.btn_danger {
    background: #eb5757
}

.btn.btn_danger:hover {
    background: #e62929
}

.btn.btn_warning {
    background: #f2c94c;
    color: #212126 !important
}

.btn.btn_warning:hover {
    background: #efbb1c
}

.btn.btn_sm {
    font-size: 12px;
    text-transform: none;
    font-weight: 400;
    padding: 14px 100px
}

.btn.btn_link {
    color: #000;
    padding: 0;
    background: none
}

.btn.btn_link:hover {
    color: #121212
}

.btn-rubrics {
    border: 1px solid #cbd0d8;
    border-radius: 34px;
    color: #0070c9;
    font-size: 14px;
    padding: 13px;
    background: none;
    font-weight: 700;
    outline: none !important;
    display: inline-block
}

.btn-rubrics:hover {
    background: #0070c9;
    color: #fff;
    text-decoration: none;
    border: 1px solid transparent
}

.tabs {
    display: -webkit-inline-box;
    display: inline-flex;
    font-size: 18px;
    background: #fff;
    border-radius: 5px;
    border: 2px solid #0070c9;
    font-weight: 500;
    -webkit-box-pack: stretch;
    justify-content: stretch;
    flex-wrap: nowrap;
    text-align: center
}

@media (max-width: 768px) {
    .tabs {
        font-size: 12px
    }
}

.tabs li {
    flex-basis: 100%
}

.tabs .tabs__item {
    color: #0070c9
}

.tabs .tabs__item.active {
    background: #0070c9;
    color: #fff
}

.tabs .tabs__item:hover {
    background: hsla(0, 0%, 87.1%, .33)
}

.tabs.tabs_outline {
    background: none;
    border: 2px solid #fff
}

.tabs.tabs_outline .tabs__item {
    color: #fff;
    border-left: 2px solid #fff
}

.tabs.tabs_outline .tabs__item.active {
    background: #fff;
    color: #0070c9
}

.tabs.tabs_outline li:first-of-type .tabs__item {
    border-left: none
}

.tabs.tabs_outline-blue {
    background: none;
    border: 2px solid #0070c9
}

.tabs.tabs_outline-blue .tabs__item {
    color: #0070c9;
    border-left: 2px solid #fff;
    font-size: 14px
}

.tabs.tabs_outline-blue .tabs__item.active {
    background: #0070c9;
    color: #fff
}

@media (max-width: 768px) {
    .tabs.tabs_outline-blue .tabs__item {
        border-left: none
    }
}

.tabs.tabs_outline-blue li:first-of-type .tabs__item {
    border-left: none
}

.tabs_sm {
    font-size: 14px
}

.list_circles {
    list-style: none;
    padding-left: 70px
}

.list_circles li + li {
    margin-top: 46px
}

.list_circles li ul {
    margin-top: 46px;
    padding-left: 46px
}

.list_circles li:before {
    content: "";
    width: 10px;
    height: 10px;
    background: #0070c9;
    display: inline-block;
    border-radius: 50%;
    margin-right: 22px
}

@media (max-width: 768px) {
    .list_circles {
        padding-left: 15px
    }
}

.list_numbered {
    counter-reset: item;
    list-style: none;
    margin-bottom: 0;
    padding-left: 70px
}

.list_numbered li + li {
    margin-top: 46px
}

.list_numbered li ol {
    margin-top: 46px;
    padding-left: 46px
}

.list_numbered li ol li:before {
    content: counter(item, upper-latin)
}

.list_numbered li:before {
    content: counter(item, decimal);
    counter-increment: item;
    color: #0070c9;
    margin-right: 22px;
    font-weight: 700;
    font-size: 18px
}

@media (max-width: 768px) {
    .list_numbered {
        padding-left: 15px
    }
}

.table {
    width: 100%;
    min-width: 728px
}

.table td, .table th, .table tr {
    border: none !important
}

.table td, .table th {
    padding: 40px 30px
}

.table tr {
    margin: 0
}

.table tbody tr:nth-child(odd) {
    background: rgba(203, 208, 216, .3);
    border-radius: 7px;
    overflow: hidden
}

.navbar {
    padding: 0;
    font-size: 14px;
    z-index: 10;
    display: block;
    position: fixed;
    top: 0;
    width: 100%
}

.navbar:hover {
    z-index: 15
}

@media (min-width: 1200px) {
    .navbar.minimized .navbar__top {
        margin-bottom: -32px
    }

    .navbar.minimized .navbar__buttons {
        margin-bottom: -30px;
        -webkit-transform: translateY(-255px);
        transform: translateY(-255px)
    }

    .navbar.minimized .navbar__link {
        padding-top: 16px;
        padding-bottom: 28px
    }

    .navbar.minimized .navbar__phone {
        opacity: 1;
        pointer-events: auto
    }

    .navbar.minimized .navbar__item_expanded:after {
        margin-top: -24px
    }

    .navbar.minimized .navbar__brand-label {
        margin-bottom: -26px;
        opacity: 0
    }
}

.navbar__bottom {
    display: -webkit-box;
    display: flex;
    background: #0538a1;
    width: 100%;
    position: relative
}

@media (max-width: 1200px) {
    .navbar__bottom {
        padding: 10px 0
    }
}

.navbar__brand {
    width: 155px
}

.navbar__brand-label {
    font-size: 9px;
    color: #4adb9a;
    padding-left: 43px;
    -webkit-transition: all .2s ease-in;
    transition: all .2s ease-in
}

@media (max-width: 1200px) {
    .navbar__brand-label {
        margin-top: -10px
    }
}

.navbar__item {
    background-color: transparent;
    -webkit-transition: background-color .1s ease-in;
    transition: background-color .1s ease-in
}

.navbar__item:hover {
    background: #0070c9
}

@media (max-width: 1200px) {
    .navbar__item {
        background: none !important
    }
}

.navbar__link {
    color: #fff;
    padding: 36px 14px 55px;
    display: block;
    font-weight: 700;
    -webkit-transition: padding .1s ease-in;
    transition: padding .1s ease-in;
    text-align: center;
    white-space: nowrap
}

.navbar__link:hover {
    text-decoration: none;
    color: #fff
}

@media (max-width: 1200px) {
    .navbar__link {
        padding: 15px 0
    }
}

.navbar__menu {
    display: -webkit-box;
    display: flex;
    list-style: none;
    margin: auto;
    padding: 0
}

@media (max-width: 1200px) {
    .navbar__menu {
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        flex-direction: column;
        -webkit-box-align: center;
        align-items: center
    }
}

.navbar__buttons {
    width: 192px;
    text-align: center;
    position: relative;
    -webkit-transition: all .25s ease-in;
    transition: all .25s ease-in
}

@media (max-width: 1200px) {
    .navbar__buttons {
        margin: auto
    }
}

.navbar__mail-director {
    color: #fff
}

.navbar__mail-director:hover, .navbar__phone {
    color: #4adb9a;
    text-decoration: none
}

.navbar__phone {
    font-size: 22px;
    font-weight: 700;
    display: block;
    position: absolute;
    margin-top: 185px;
    opacity: 0;
    pointer-events: none;
    -webkit-transition: opacity .25s ease-in;
    transition: opacity .25s ease-in
}

.navbar__phone:hover {
    color: #86efc0
}

.navbar__expand {
    background: rgba(5, 56, 161, .97);
    position: absolute;
    width: 100%;
    left: 0;
    padding: 47px 0;
    display: none
}

@media (max-width: 1200px) {
    .navbar__expand {
        display: none !important
    }
}

.navbar__item_expanded:after {
    content: "\F078";
    font-family: Font Awesome\ 5 Free, sans-serif;
    font-weight: 900;
    font-style: normal;
    font-variant: normal;
    text-rendering: auto;
    color: #fff;
    position: relative;
    width: 100%;
    display: block;
    text-align: center;
    margin-top: -30px;
    margin-bottom: -47px;
    -webkit-transition: all .1s ease-in;
    transition: all .1s ease-in
}

@media (max-width: 1200px) {
    .navbar__item_expanded:after {
        content: none
    }
}

.navbar__item_expanded:hover .navbar__expand {
    display: block
}

.navbar__item_expanded:hover:after {
    -webkit-transform: scale(1.3);
    transform: scale(1.3)
}

.navbar-about__link {
    color: #fff;
    text-decoration: none !important;
    font-weight: 900;
    font-size: 18px
}

.navbar-about__link:hover {
    color: #4adb9a
}

.navbar-about__address {
    font-weight: 900;
    font-size: 18px;
    line-height: 200%
}

.navbar-about__nav-link {
    color: #4adb9a !important;
    font-weight: 500;
    font-size: 18px
}

.navbar-about__nav-link i {
    color: #0070c9;
    margin-right: 15px;
    font-size: 24px;
    width: 40px;
    height: 40px;
    vertical-align: middle;
    text-align: center;
    line-height: 40px
}

.navbar__top {
    background: #fff;
    overflow-x: hidden;
    -webkit-transition: margin-bottom .1s ease-in;
    transition: margin-bottom .1s ease-in
}

@media (max-width: 992px) {
    .navbar__top {
        display: none
    }
}

.navbar__top-content {
    -webkit-transform: translateX(0);
    transform: translateX(0);
    -webkit-transition: -webkit-transform .25s ease-in;
    transition: -webkit-transform .25s ease-in;
    transition: transform .25s ease-in;
    transition: transform .25s ease-in, -webkit-transform .25s ease-in;
    width: 100%;
    flex-wrap: nowrap;
    -webkit-box-align: center;
    align-items: center
}

.navbar__top-content_active {
    -webkit-transform: translateX(-58.27%);
    transform: translateX(-58.27%)
}

.navbar__top-content_active .navbar__top-contacts {
    opacity: 0
}

.navbar__top-contacts {
    display: -webkit-box;
    display: flex;
    font-size: 14px;
    opacity: 1;
    -webkit-transition: opacity .25s ease-in;
    transition: opacity .25s ease-in
}

.navbar__search-field {
    border: none;
    outline: none !important;
    height: 32px;
    position: relative;
    width: 100%;
    -webkit-transition: all .25s ease-in;
    transition: all .25s ease-in;
    font-size: 16px
}

.navbar__search-field::-webkit-input-placeholder {
    color: #0538a1
}

.navbar__search-field::-moz-placeholder {
    color: #0538a1
}

.navbar__search-field:-ms-input-placeholder {
    color: #0538a1
}

.navbar__search-field::-ms-input-placeholder {
    color: #0538a1
}

.navbar__search-field::placeholder {
    color: #0538a1
}

.navbar__search-field:focus {
    height: 48px
}

.navbar__search-field:focus::-webkit-input-placeholder {
    color: #fff
}

.navbar__search-field:focus::-moz-placeholder {
    color: #fff
}

.navbar__search-field:focus:-ms-input-placeholder {
    color: #fff
}

.navbar__search-field:focus::-ms-input-placeholder {
    color: #fff
}

.navbar__search-field:focus::placeholder {
    color: #fff
}

.navbar__search-field:focus:invalid ~ .navbar__search-hint {
    display: -webkit-box;
    display: flex
}

.navbar__search-field:valid {
    height: 48px
}

.navbar__search-field:valid ~ .navbar__search-hint {
    display: none
}

.navbar__search-field-wrap {
    position: relative;
    width: 558px;
    display: -webkit-box;
    display: flex;
    -webkit-box-align: center;
    align-items: center
}

.navbar__search-hint {
    font-size: 16px;
    white-space: nowrap;
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 24px;
    margin: auto;
    -webkit-box-align: center;
    align-items: center;
    pointer-events: none;
    display: none
}

.navbar__mobile-search {
    position: relative
}

.navbar__mobile-search i {
    position: absolute;
    top: 15px;
    left: 15px;
    color: #0538a1
}

.navbar__mobile-search input {
    border-radius: 10px;
    border: none;
    height: 41px;
    width: 100%;
    padding-left: 39px
}

.navbar + * {
    margin-top: 142px
}

@media (max-width: 1200px) {
    .navbar + * {
        margin-top: 111px
    }
}

@media (max-width: 992px) {
    .navbar + * {
        margin-top: 79px
    }
}

.footer .footer-social {
    display: -webkit-box;
    display: flex;
    -webkit-box-pack: justify;
    justify-content: space-between
}

@media (max-width: 768px) {
    .footer .footer-social {
        padding: 0 15px
    }
}

.footer__brand {
    width: 163px
}

.footer__brand-label {
    font-size: 9px;
    padding-left: 43px
}

.sidebar__comments {
    font-size: 14px;
    font-weight: 500
}

.sidebar__anonce {
    background: -webkit-gradient(linear, left top, right top, from(rgba(153, 158, 161, .1)), to(rgba(5, 56, 161, .1)));
    background: linear-gradient(90deg, rgba(153, 158, 161, .1), rgba(5, 56, 161, .1));
    border-radius: 5px
}

.sidebar__anonce-link {
    font-size: 14px;
    line-height: 125%;
    font-weight: 400;
    margin-bottom: 0
}

.breadcrumbs {
    font-size: 14px;
    font-weight: 300;
    display: -webkit-box;
    display: flex;
    list-style: none;
    padding-left: 0;
    color: #cbd0d8;
    padding-top: 40px;
    margin-bottom: -61px;
    white-space: nowrap;
    overflow-x: auto;
    z-index: 5;
    position: relative
}

@media (max-width: 768px) {
    .breadcrumbs {
        padding-top: 25px;
        margin-bottom: -25px
    }
}

.breadcrumbs > li a {
    color: #0538a1;
    text-decoration: none !important
}

.breadcrumbs > li a:hover {
    color: #0070c9
}

.breadcrumbs > li a:after {
    content: "\2014";
    margin: 0 30px;
    color: #cbd0d8 !important
}

.page-block {
    padding-top: 105px;
    padding-bottom: 105px
}

@media (max-width: 768px) {
    .page-block {
        padding-top: 50px;
        padding-bottom: 50px
    }
}

.entry-block {
    padding-top: 111px;
    padding-bottom: 105px;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 50%
}

@media (max-width: 768px) {
    .entry-block {
        padding-top: 50px
    }
}

.entry-block .h4 {
    line-height: 175%
}

.entry-block_sm {
    height: 480px;
    padding: 0
}

.entry-block__slider-controls-container {
    position: absolute;
    z-index: 5;
    margin: auto;
    left: 0;
    right: 0;
    bottom: 0;
    display: -webkit-box;
    display: flex;
    -webkit-box-pack: end;
    justify-content: flex-end
}

.entry-block__slider-controls .slider-controls__prev {
    border-radius: 10px 0 0 0
}

.entry-block__slider-controls .slider-controls__next {
    border-radius: 0 10px 0 0
}

.services-block {
    font-size: 16px
}

.services-block_navbar .services-block__nav-item {
    color: #4adb9a
}

.services-block_navbar svg path {
    fill: #0070c9
}

.services-block_navbar .services-block__sub-nav-item {
    color: #fff
}

.services-block_navbar .services-block__nav > li:not(:last-of-type):after {
    background: #0070c9
}

.services-block__nav > li:not(:last-of-type) {
    position: relative;
    margin-bottom: 50px
}

.services-block__nav > li:not(:last-of-type):after {
    content: "";
    position: absolute;
    width: 86%;
    height: 1px;
    background: #cbd0d8;
    right: 0;
    bottom: -25px
}

.services-block__nav, .services-block__sub-nav {
    list-style: none;
    padding: 0;
    margin: 0
}

.services-block__sub-nav {
    margin-left: 55px
}

.services-block__nav-item svg {
    margin-right: 15px;
    flex-shrink: 0
}

.services-block__nav-item, .services-block__sub-nav-item {
    display: block;
    margin-bottom: 15px
}

.services-block__nav-item {
    color: #0538a1;
    display: -webkit-box;
    display: flex;
    -webkit-box-align: center;
    align-items: center
}

.services-block__sub-nav-item {
    color: #212126
}

.promo-cert {
    background: url(/images/index/promo-cert-bg.png) 42% 0 no-repeat, -webkit-gradient(linear, left top, right top, color-stop(-2.51%, #4adb9a), to(#0070c9));
    background: url(/images/index/promo-cert-bg.png) 42% 0 no-repeat, linear-gradient(90deg, #4adb9a -2.51%, #0070c9);
    border-radius: 10px;
    padding: 75px 0;
    color: #fff
}

@media (max-width: 768px) {
    .promo-cert {
        padding: 15px;
        margin: 0 -15px
    }
}

.promo-cert__incredible {
    font-size: 36px;
    font-weight: 200;
    line-height: 115%
}

.promo-cert__x2 {
    font-size: 144px;
    color: #f2c94c;
    font-weight: 700;
    display: inline-block;
    margin-top: -105px;
    margin-left: 110px;
    margin-bottom: 35px
}

.advantages-block .advantages-block__title {
    margin-bottom: 90px;
    text-align: center
}

@media (max-width: 768px) {
    .advantages-block .advantages-block__title {
        margin-bottom: 32px
    }
}

.advantages-block .h3, .advantages-block h3 {
    color: #0070c9
}

.object-selector {
    overflow: hidden
}

.object-selector__nav-wrap {
    overflow-x: auto;
    margin: -25px;
    padding: 25px
}

.object-selector__nav {
    display: -webkit-box;
    display: flex;
    width: 100%;
    list-style: none;
    font-weight: 700;
    -webkit-box-pack: justify;
    justify-content: space-between;
    padding: 0;
    margin: 0;
    min-width: 960px
}

.object-selector__nav-item_active {
    color: #cbd0d8;
    position: relative
}

.object-selector__nav-item_active:before {
    content: "";
    position: absolute;
    width: 48px;
    height: 48px;
    border-radius: 50%;
    background: #0538a1;
    z-index: -1;
    top: -10px;
    left: -18px
}

.object-selector__nav-item_disabled {
    color: #cbd0d8;
    pointer-events: none
}

.object-selector__content {
    font-size: 14px
}

.certificates-block__img {
    box-shadow: 0 24px 94px rgba(0, 0, 0, .15)
}

@media (max-width: 768px) {
    .certificates-block__img {
        height: 250px
    }
}

.certificates-block__cert-desc, .certificates-block__slider-controls {
    margin-bottom: 140px
}

@media (max-width: 768px) {
    .certificates-block__cert-desc, .certificates-block__slider-controls {
        margin-bottom: 0
    }
}

.certificates-block__slider-controls {
    position: relative;
    z-index: 5;
    margin-top: -140px
}

@media (max-width: 768px) {
    .certificates-block__slider-controls {
        margin-top: 45px;
        -webkit-box-pack: center;
        justify-content: center
    }
}

.callback-primary-block {
    padding: 88px 0 75px
}

.callback-primary-block textarea {
    min-height: 172px
}

.client-card {
    background: #fff;
    box-shadow: 0 22px 24px rgba(0, 0, 0, .06);
    border-radius: 10px;
    height: 190px;
    display: -webkit-box;
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    -webkit-box-pack: center;
    justify-content: center;
    -webkit-transition: box-shadow .1s ease-in;
    transition: box-shadow .1s ease-in
}

@media (max-width: 992px) {
    .client-card {
        height: 140px;
        margin-bottom: 15px
    }
}

.client-card:hover {
    box-shadow: 0 22px 24px rgba(0, 0, 0, .14)
}

.client-card__image {
    max-width: 75%
}

.feedback-block {
    padding: 100px 0
}

.slider-controls {
    display: -webkit-box;
    display: flex
}

.slider-controls__next, .slider-controls__prev {
    padding: 18px
}

.slider-controls__next:after, .slider-controls__prev:after {
    content: "";
    display: block;
    background: url(/images/index/icon-arrow-left.svg) no-repeat;
    width: 20px;
    height: 20px
}

.slider-controls__next.swiper-button-disabled, .slider-controls__prev.swiper-button-disabled {
    opacity: .7;
    cursor: auto
}

.slider-controls__prev {
    border-radius: 10px 0 0 10px
}

.slider-controls__next {
    border-radius: 0 10px 10px 0
}

.slider-controls__next:after {
    -webkit-transform: rotate(180deg);
    transform: rotate(180deg)
}

.article-card {
    background: #fff;
    box-shadow: 0 22px 24px rgba(0, 0, 0, .06);
    border-radius: 10px;
    overflow: hidden;
    height: 100%;
    position: relative
}

.article-card:hover {
    box-shadow: 0 22px 24px rgba(0, 0, 0, .15)
}

.article-card:hover .article-card__img {
    -webkit-filter: blur(10px);
    filter: blur(10px);
    position: relative
}

.article-card:hover .article-card__img:after {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    background: -webkit-gradient(linear, left top, left bottom, from(rgba(47, 152, 105, .82)), to(transparent));
    background: linear-gradient(180deg, rgba(47, 152, 105, .82), transparent)
}

.article-card:hover .article-card__read-time {
    display: block
}

.article-card_gradient .article-card__img {
    position: relative
}

.article-card_gradient .article-card__img:after {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background: -webkit-gradient(linear, left top, left bottom, from(rgba(5, 56, 161, .55)), to(rgba(5, 56, 161, 0)));
    background: linear-gradient(180deg, rgba(5, 56, 161, .55), rgba(5, 56, 161, 0))
}

.article-card__top-wrap {
    position: absolute;
    width: 100%;
    top: 0;
    left: 0;
    padding: 28px 22px 0;
    display: -webkit-box;
    display: flex;
    flex-wrap: wrap
}

.article-card__date {
    font-weight: 700;
    color: #fff;
    z-index: 5
}

.article-card__read-time {
    display: none
}

.article-card__company {
    color: #86efc0;
    font-size: 14px;
    font-weight: 300;
    margin-bottom: 40px;
    margin-left: auto
}

.article-card__read-time {
    color: #86efc0;
    font-size: 16px;
    font-weight: 300;
    width: 100%;
    text-align: center
}

.article-card__img {
    height: 256px;
    background-size: cover;
    -webkit-transition: -webkit-filter .1s ease-in;
    transition: -webkit-filter .1s ease-in;
    transition: filter .1s ease-in;
    transition: filter .1s ease-in, -webkit-filter .1s ease-in
}

.article-card__title {
    padding: 12px 14px;
    font-weight: 700;
    font-size: 24px;
    line-height: 130%;
    color: #fff;
    height: 150px;
    background: rgba(5, 56, 161, .97);
    margin: -80px 10px 10px;
    position: relative;
    z-index: 5;
    display: -webkit-box;
    display: flex;
    -webkit-box-align: center;
    align-items: center
}

.article-card__title a {
    color: #fff
}

@media (max-width: 1200px) {
    .article-card__title {
        font-size: 20px
    }
}

.article-card__title_category {
    height: 176px;
    margin-top: -120px;
    padding: 0 14px 30px
}

.article-card__text {
    padding: 10px 25px 25px;
    font-size: 14px;
    font-weight: 300;
    margin-bottom: 0
}

.article-card__category {
    display: block;
    color: #4adb9a;
    font-weight: 300;
    font-size: 14px;
    position: absolute;
    bottom: 0;
    left: 15px
}

@media (max-width: 768px) {
    .director-block__photo {
        width: 100%
    }
}

.callback-block {
    padding-top: 58px;
    padding-bottom: 105px
}

.package-card {
    -webkit-transition: -webkit-transform .1s ease-in;
    transition: -webkit-transform .1s ease-in;
    transition: transform .1s ease-in;
    transition: transform .1s ease-in, -webkit-transform .1s ease-in;
    -webkit-transform: scale(1);
    transform: scale(1)
}

.package-card:hover {
    -webkit-transform: scale(1.02);
    transform: scale(1.02)
}

.package-card, .package-card__title {
    background: -webkit-gradient(linear, left top, right top, from(#0070c9), to(#0538a1));
    background: linear-gradient(90deg, #0070c9, #0538a1);
    box-shadow: 0 24px 94px rgba(0, 0, 0, .15);
    border-radius: 7px;
    text-align: center
}

.package-card__title {
    padding: 25px;
    color: #fff
}

.package-card__items {
    color: #fff;
    list-style: none;
    margin: 0;
    padding: 0
}

.package-card__item {
    padding: 25px 18px;
    position: relative
}

.package-card__item:after {
    content: "";
    width: 176px;
    height: 1px;
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    background: #0070c9
}

.package-card__item_disabled {
    color: hsla(0, 0%, 100%, .2)
}

.package-card__price {
    color: #4adb9a;
    padding: 25px 0
}

.video-card {
    box-shadow: 0 24px 94px rgba(0, 0, 0, .15);
    border-radius: 7px;
    display: -webkit-box;
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    -webkit-box-pack: center;
    justify-content: center;
    height: 680px;
    width: 100%;
    overflow: hidden;
    position: relative
}

@media (max-width: 992px) {
    .video-card {
        height: 480px
    }
}

@media (max-width: 768px) {
    .video-card {
        height: 250px
    }
}

.video-card__iframe {
    width: 100%;
    height: 100%
}

.video-card__foreground {
    background: -webkit-gradient(linear, left top, right top, from(#0070c9), to(#0538a1));
    background: linear-gradient(90deg, #0070c9, #0538a1);
    position: absolute;
    width: 100%;
    height: 100%;
    display: -webkit-box;
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    -webkit-box-pack: center;
    justify-content: center
}

.video-card__play-btn {
    color: #4adb9a;
    font-size: 72px;
    background: none;
    border: none
}

.video-card__play-btn:hover {
    color: #86efc0
}

.review-card {
    padding: 40px 25px 33px 39px;
    background: #fff;
    box-shadow: 0 22px 24px rgba(0, 0, 0, .06);
    border-radius: 10px;
    width: 100%;
    height: 100%;
    min-height: 450px;
    margin-bottom: 0
}

.review-card__left, .review-card_image {
    padding: 0;
    position: relative;
    display: -webkit-box;
    display: flex
}

.review-card__left:hover, .review-card_image:hover {
    -webkit-transform: scale(1.05);
    transform: scale(1.05)
}

.review-card__left:hover .review-card__image, .review-card_image:hover .review-card__image {
    -webkit-filter: blur(2px);
    filter: blur(2px)
}

.review-card__left:hover:after, .review-card_image:hover:after {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    background: 50% url(/images/icon-zoom.svg) no-repeat, rgba(0, 112, 201, .2);
    border-radius: 10px
}

.review-card__image, .review-card__left-image {
    width: 100%;
    height: 100%;
    background-size: cover;
    background-position: 50%
}

.review-card_video {
    display: -webkit-box;
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    -webkit-box-pack: center;
    justify-content: center;
    position: relative;
    background-size: cover;
    background-position: 50%
}

.review-card_video:hover {
    -webkit-transform: scale(1.05);
    transform: scale(1.05)
}

.review-card_video:after {
    content: "";
    background: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 112, 201, .33)), to(rgba(245, 166, 35, .33)));
    background: linear-gradient(180deg, rgba(0, 112, 201, .33), rgba(245, 166, 35, .33));
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    border-radius: 10px
}

.review-card_video .review-card__play-btn {
    font-size: 72px;
    color: #4adb9a;
    position: relative;
    background: none;
    border: none;
    z-index: 5
}

.review-card_video .review-card__play-btn:hover {
    color: #86efc0
}

.review-card_combined {
    min-height: 368px;
    display: -webkit-box;
    display: flex;
    padding: 0
}

@media (max-width: 768px) {
    .review-card_combined {
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        flex-direction: column
    }
}

.review-card__left {
    width: 50%;
    background: #fff;
    overflow: hidden;
    border-radius: 10px
}

@media (max-width: 768px) {
    .review-card__left {
        width: 100%;
        height: 250px
    }
}

.review-card__right {
    width: 50%;
    padding: 0
}

@media (max-width: 768px) {
    .review-card__right {
        width: 100%
    }
}

.review-card__right-text {
    font-size: 24px;
    line-height: 130%;
    background: #0538a1;
    color: #fff;
    font-weight: 700;
    margin: 0;
    padding: 22px 80px 24px 32px
}

@media (max-width: 768px) {
    .review-card__right-text {
        font-size: 20px
    }
}

.review-card__right-footer {
    padding: 23px 16px 16px 32px
}

.review-card__stars {
    display: -webkit-box;
    display: flex;
    width: 192px;
    margin: 0 16px 0 auto;
    height: 48px;
    -webkit-box-pack: justify;
    justify-content: space-between
}

.review-card__author {
    padding: 0 80px 20px 32px
}

.review-card__gradient {
    width: 100%;
    height: 100%;
    background: linear-gradient(134.49deg, rgba(193, 196, 215, .6) -10.84%, rgba(193, 196, 215, 0) 46.31%);
    position: absolute;
    border-radius: 10px;
    top: 0;
    left: 0
}

.review-card__date {
    position: absolute;
    left: 28px;
    top: 22px;
    font-size: 16px;
    font-weight: 700;
    color: #0538a1
}

.related-product-card {
    background: #fff;
    box-shadow: 0 22px 24px rgba(0, 0, 0, .06);
    border-radius: 10px;
    padding: 40px 34px 45px 38px
}

.pagination {
    list-style: none;
    margin: 0;
    padding: 0
}

.pagination, .pagination__item {
    display: -webkit-box;
    display: flex;
    -webkit-box-pack: center;
    justify-content: center
}

.pagination__item {
    background: rgba(5, 56, 161, .1);
    padding: 20px 18px;
    width: 56px;
    height: 56px;
    -webkit-box-align: center;
    align-items: center;
    -webkit-transition: background .1s ease-in;
    transition: background .1s ease-in
}

@media (max-width: 768px) {
    .pagination__item {
        width: 40px;
        height: 40px
    }
}

.pagination__item_next, .pagination__item_prev {
    background: #0538a1;
    padding: 18px
}

.pagination__item_next:after, .pagination__item_prev:after {
    content: "";
    display: block;
    background: url(/images/index/icon-arrow-left.svg) no-repeat;
    width: 20px;
    height: 20px
}

.pagination__item_next:hover, .pagination__item_prev:hover {
    background: rgba(5, 56, 161, .8)
}

.pagination__item_prev {
    border-radius: 10px 0 0 10px
}

.pagination__item_next {
    border-radius: 0 10px 10px 0
}

.pagination__item_next:after {
    -webkit-transform: rotate(180deg);
    transform: rotate(180deg)
}

.pagination__item_current {
    color: rgba(5, 56, 161, .2) !important;
    text-decoration: none !important
}

.stay-modal {
    color: #fff
}

.stay-modal__content {
    background: -webkit-gradient(linear, left top, right top, color-stop(-2.51%, #4adb9a), to(#0070c9));
    background: linear-gradient(90deg, #4adb9a -2.51%, #0070c9);
    border-radius: 10px;
    border: none;
    overflow: hidden
}

.stay-modal__left {
    background: url(/images/stay-modal-girl.jpg);
    background-size: cover;
    position: relative
}

.stay-modal__left:after {
    content: "";
    position: absolute;
    width: 143px;
    height: 41px;
    background: url(/images/logo-black.svg) no-repeat;
    bottom: 23px;
    left: 23px
}

.stay-modal__right {
    padding: 64px 48px 72px 88px
}

.stay-modal__dialog {
    max-width: 1010px
}

.footer {
    background: #0070c9;
    color: #fff
}

.footer .footer__wrapper {
    padding-top: 112px;
    padding-bottom: 100px
}

@media (max-width: 768px) {
    .footer .footer__wrapper {
        padding-top: 50px;
        padding-bottom: 50px
    }
}

.footer .footer__dev-link {
    padding: 22px 0;
    background: -webkit-gradient(linear, left top, right top, from(#0070c9), to(#0538a1));
    background: linear-gradient(90deg, #0070c9, #0538a1)
}

.footer .footer-list {
    list-style: none;
    padding: 0;
    margin: 0
}

.footer .footer-list .footer-list__item {
    margin-bottom: 12px
}

.footer .footer-list .footer-list__item:last-of-type {
    margin-bottom: 0
}

.footer .footer-list .footer-list__link {
    color: #fff
}

.footer .footer-social {
    font-size: 18px;
    margin-top: 68px
}

.footer .footer-social .footer-social__link {
    color: #fff
}

.footer .footer-button {
    width: 192px;
    height: 40px;
    border-radius: 10px;
    background: #f2c94c;
    border: none
}

.footer .footer-button i {
    margin-right: 5px
}

.map-block {
    padding: 0;
    position: relative;
    display: -webkit-box;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    flex-direction: column
}

.map-block__map {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0
}

@media (max-width: 992px) {
    .map-block__map {
        position: static;
        height: 250px;
        -webkit-box-ordinal-group: 3;
        order: 2
    }
}

.map-block__text {
    pointer-events: none;
    padding-top: 90px;
    padding-bottom: 76px;
    background: -webkit-gradient(linear, left top, right top, color-stop(35%, #fff), color-stop(80%, transparent));
    background: linear-gradient(90deg, #fff 35%, transparent 80%);
    position: relative
}

.map-block__text a {
    pointer-events: auto
}

.about-block {
    padding-top: 64px;
    padding-bottom: 112px
}

.about-block__wrapper {
    border: 1px solid #4adb9a;
    padding: 32px
}

.about-block__wrapper p {
    margin: 0;
    padding: 0
}

.description-block__wrapper {
    display: -webkit-box;
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    -webkit-box-pack: center;
    justify-content: center;
    align-self: center;
    color: #0538a1;
    height: 100%
}

.description-block__image {
    border-radius: 7px;
    box-shadow: 0 24px 94px rgba(0, 0, 0, .15)
}

.description-block__circle {
    position: absolute;
    border: 8px solid #4adb9a;
    width: 174px;
    height: 174px;
    border-radius: 50%;
    box-shadow: 0 4px 4px rgba(0, 0, 0, .25)
}

.description-block__label-digit {
    position: absolute;
    left: calc(50% - 30px)
}

@media (max-width: 576px) {
    .description-block__label-digit {
        left: calc(50% - 25px);
        top: calc(50% - 23px)
    }
}

.description-block__label-txt {
    position: absolute;
    left: 50%;
    top: calc(50% + 3px)
}

.company-team {
    padding: 87px 0
}

.company-team__img {
    margin-bottom: 38px
}

.company-team__social {
    display: -webkit-box;
    display: flex;
    -webkit-box-pack: justify;
    justify-content: space-between;
    margin-top: 26px
}

.company-team__social a {
    color: #0070c9
}

.principles-block__title {
    margin-bottom: 86px;
    text-align: center
}

.why-we-block__card {
    text-align: center
}

.why-we-block__img {
    width: 104px;
    height: 104px;
    border-radius: 50%;
    background: rgba(0, 112, 201, .1);
    margin: 0 auto 20px;
    display: -webkit-box;
    display: flex;
    -webkit-box-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    align-items: center;
    color: #0070c9
}

.why-we-block__img .fas {
    font-size: 36px
}

.cell-list {
    color: #0070c9;
    list-style: none;
    padding: 0;
    margin-bottom: 0;
    display: -webkit-box;
    display: flex;
    flex-wrap: wrap
}

.cell-list li {
    padding: 54px 0;
    width: 50%;
    position: relative
}

@media (max-width: 768px) {
    .cell-list li {
        width: 100%;
        text-align: center !important;
        padding: 25px 0 !important;
        border-right: none !important
    }

    .cell-list li:after {
        left: 0 !important;
        right: 0 !important;
        margin: auto !important
    }
}

.cell-list li:after {
    content: "";
    position: absolute;
    width: 175px;
    height: 1px;
    bottom: 0;
    right: 16px;
    background: rgba(203, 208, 216, .5)
}

.cell-list li:nth-child(odd) {
    text-align: right;
    padding-right: 54px;
    border-right: 1px solid rgba(203, 208, 216, .5)
}

.cell-list li:nth-child(2n) {
    padding-left: 54px
}

.cell-list li:nth-child(2n):after {
    left: 16px;
    right: auto
}

.cell-list li:last-child:after, .cell-list li:nth-last-child(2):nth-child(odd):after {
    content: none
}

.cell-list_sm-padding li {
    padding: 35px 0
}

.separator {
    width: 336px;
    max-width: 100%;
    margin: 0
}

.article blockquote, .blockquote {
    padding: 40px 20px;
    border-left: 8px solid rgba(5, 56, 161, .1)
}

.article-row {
    display: -webkit-box;
    display: flex;
    -webkit-box-align: center;
    align-items: center
}

.article-row__image {
    width: 104px;
    height: 104px;
    margin-right: 23px
}

.article-row__text {
    font-size: 14px;
    line-height: 125%
}

.comment {
    display: -webkit-box;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    flex-direction: column
}

.comment__body {
    background: -webkit-gradient(linear, left top, right top, from(rgba(0, 112, 201, .1)), to(rgba(5, 56, 161, .1)));
    background: linear-gradient(90deg, rgba(0, 112, 201, .1), rgba(5, 56, 161, .1));
    padding: 15px;
    border-radius: 10px
}

.comment__header {
    display: -webkit-box;
    display: flex;
    -webkit-box-pack: justify;
    justify-content: space-between;
    margin-bottom: 20px;
    font-size: 14px;
    -webkit-box-align: center;
    align-items: center
}

.comment__avatar {
    width: 32px;
    height: 32px;
    border-radius: 50%;
    margin-right: 7px
}

.comment__datetime {
    color: #0538a1
}

.comment__message {
    font-weight: 300
}

.comment__answer-btn {
    margin-top: 20px;
    margin-left: auto;
    border: none;
    background: none;
    color: #0070c9
}

.article p {
    margin-bottom: 0
}

.article p + p {
    margin-top: 45px
}

.article h1, .article h2, .article h3, .article h4, .article h5, .article h6 {
    color: #0070c9
}

.article blockquote {
    font-size: 24px;
    font-weight: 300;
    color: #0538a1;
    margin-top: 80px;
    margin-bottom: 80px;
    margin-left: 65px
}

@media (max-width: 768px) {
    .article blockquote {
        margin-left: 15px
    }
}

.article img {
    margin-bottom: 89px;
    width: 100%;
    border-radius: 5px
}

.article ol, .article ul {
    margin-bottom: 65px
}

.article ul {
    list-style: none;
    padding-left: 70px
}

.article ul li + li {
    margin-top: 46px
}

.article ul li ul {
    margin-top: 46px;
    padding-left: 46px
}

.article ul li:before {
    content: "";
    width: 10px;
    height: 10px;
    background: #0070c9;
    display: inline-block;
    border-radius: 50%;
    margin-right: 22px
}

@media (max-width: 768px) {
    .article ul {
        padding-left: 15px
    }
}

.article ol {
    counter-reset: item;
    list-style: none;
    margin-bottom: 0;
    padding-left: 70px
}

.article ol li + li {
    margin-top: 46px
}

.article ol li ol {
    margin-top: 46px;
    padding-left: 46px
}

.article ol li ol li:before {
    content: counter(item, upper-latin)
}

.article ol li:before {
    content: counter(item, decimal);
    counter-increment: item;
    color: #0070c9;
    margin-right: 22px;
    font-weight: 700;
    font-size: 18px
}

@media (max-width: 768px) {
    .article ol {
        padding-left: 15px
    }
}

.article table {
    width: 100%
}

@media (max-width: 768px) {
    .article table {
        overflow: auto;
        display: block
    }
}

.article table td, .article table th, .article table tr {
    border: none !important
}

.article table td, .article table th {
    padding: 40px 30px
}

@media (max-width: 768px) {
    .article table td, .article table th {
        padding: 20px 15px
    }
}

.article table tr {
    margin: 0
}

@media (max-width: 768px) {
    .article table tr {
        display: -webkit-box;
        display: flex;
        min-width: 728px
    }
}

.article table tbody tr:nth-child(odd) {
    background: rgba(203, 208, 216, .3);
    border-radius: 7px;
    overflow: hidden
}

.article .callback-primary-block h1, .article .callback-primary-block h2, .article .callback-primary-block h3, .article .callback-primary-block h4, .article .callback-primary-block h5 {
    color: inherit
}

.index__entry-block {
    background-image: -webkit-gradient(linear, left top, right top, color-stop(5%, #cce7f8), color-stop(50%, transparent)), url(/images/index/entry-bg.jpg);
    background-image: linear-gradient(90deg, #cce7f8 5%, transparent 50%), url(/images/index/entry-bg.jpg)
}

.index__entry-block-img {
    height: 420px
}

.services__entry-block {
    background-image: -webkit-gradient(linear, left top, right top, color-stop(5%, #cce7f8), color-stop(50%, transparent)), url(/images/index/entry-bg.jpg);
    background-image: linear-gradient(90deg, #cce7f8 5%, transparent 50%), url(/images/index/entry-bg.jpg);
    z-index: 11;
    position: relative
}

.services__entry-block .row, .services__entry-block .row > *, .services__entry-block .swiper-slide {
    position: static
}

.services__entry-block .entry-block__slider-controls {
    bottom: 0
}

@media (max-width: 1200px) {
    .services__entry-block {
        overflow-x: hidden
    }
}

.services__entry-swiper-container {
    overflow: visible
}

.services__entry-block-img {
    height: 102%;
    position: absolute;
    bottom: 0;
    z-index: 11
}

.service__entry-block {
    position: relative;
    padding: 70px 0
}

.service__entry-block-img {
    height: 102%;
    position: absolute;
    bottom: 0;
    margin-left: -100px;
    z-index: 11
}

.service__cert-image {
    max-width: 100%;
    box-shadow: 0 24px 94px rgba(0, 0, 0, .15);
    border-radius: 7px
}

.service__price-table-col-1 {
    font-size: 24px;
    font-weight: 700;
    color: #0070c9
}

.projects__entry-block {
    background: 130%/70% no-repeat url(/images/projects/entry-bg.svg), linear-gradient(223.74deg, #fff -91.22%, #def3e9 101.86%), #cfe7f8;
    position: relative
}

.projects__entry-block-img {
    position: absolute;
    height: 104%;
    bottom: 0;
    z-index: 11
}

.faq__entry-block {
    background: linear-gradient(223.74deg, #fff -91.22%, #def3e9 101.86%), #cfe7f8
}

.faq__list-wrap {
    margin-bottom: 35px
}

.faq__list {
    list-style: none;
    margin: 0;
    padding: 0
}

.faq__list li {
    position: relative;
    margin-bottom: 65px
}

.faq__list li:after {
    position: absolute
}

@media (max-width: 768px) {
    .faq__list li {
        margin-bottom: 45px
    }
}

.faq__list-toggler {
    margin-bottom: 65px;
    text-decoration: none !important;
    display: -webkit-box;
    display: flex;
    color: #0070c9
}

@media (max-width: 768px) {
    .faq__list-toggler {
        margin-bottom: 15px
    }
}

.faq__list-toggler:before {
    content: "+";
    font-size: 64px;
    margin-right: 25px;
    -webkit-transition: -webkit-transform .1s ease-in;
    transition: -webkit-transform .1s ease-in;
    transition: transform .1s ease-in;
    transition: transform .1s ease-in, -webkit-transform .1s ease-in;
    height: 37px;
    line-height: 50px;
    margin-top: 15px
}

@media (max-width: 768px) {
    .faq__list-toggler:before {
        font-size: 32px;
        margin-right: 15px;
        height: 25px;
        line-height: 100%;
        margin-top: 0
    }
}

.faq__list-toggler[aria-expanded=true] {
    color: #212126
}

.faq__list-toggler[aria-expanded=true]:before {
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg)
}

.faq__list-collapse {
    padding-left: 60px;
    padding-right: 50px;
    -webkit-transform: translateY(-20px);
    transform: translateY(-20px)
}

.faq__list-collapse:after {
    content: "";
    display: block;
    height: 25px
}

@media (max-width: 768px) {
    .faq__list-collapse {
        padding: 0
    }
}

.p-404__entry-block-img {
    margin-top: -160px;
    margin-bottom: -105px;
    z-index: 11;
    position: relative
}

@media (max-width: 768px) {
    .p-404__entry-block-img {
        margin-top: -50px;
        max-width: 100%;
        margin-bottom: 0
    }
}

.project__entry-block {
    background: linear-gradient(223.74deg, #fff -91.22%, #def3e9 101.86%), #cfe7f8
}

.project__entry-block-text {
    position: relative;
    z-index: 2
}

.project__entry-block-img-wrap {
    padding-top: 15px
}

@media (max-width: 768px) {
    .project__entry-block-img-wrap {
        margin: 0;
        position: absolute;
        bottom: 0;
        height: auto;
        width: 120%
    }
}

.project__entry-block-img {
    margin-left: -350px;
    height: 100%
}

@media (max-width: 768px) {
    .project__entry-block-img {
        margin: 0;
        height: auto;
        width: 120%
    }
}

.project__separator {
    margin: 70px 0
}

.project__list {
    list-style: none;
    padding: 0;
    margin: 0
}

.project__list-item {
    margin-bottom: 36px
}

.about__entry-block, .reviews__entry-block {
    background: linear-gradient(223.74deg, #fff -91.22%, #def3e9 101.86%), #cfe7f8
}

.reviews__entry-block-img {
    margin-left: -350px;
    height: 100%
}

@media (max-width: 768px) {
    .reviews__entry-block-img {
        margin: 0;
        height: auto;
        width: 100%;
        position: absolute;
        bottom: 0;
        left: 0
    }
}

.article__pdf-wrapper {
    background: -webkit-gradient(linear, left top, right top, from(rgba(0, 112, 201, .1)), to(rgba(5, 56, 161, .1)));
    background: linear-gradient(90deg, rgba(0, 112, 201, .1), rgba(5, 56, 161, .1));
    padding: 30px;
    border-radius: 5px
}

.article__pdf-wrapper .article__pdf-icon {
    font-size: 72px;
    opacity: .3;
    float: left;
    margin-right: 19px
}

.article__pdf-wrapper a {
    text-decoration: none
}

.contacts__entry-block {
    background: linear-gradient(223.74deg, #fff -91.22%, #def3e9 101.86%), #cfe7f8
}

.contacts__weekends {
    color: #eb5757;
    margin-bottom: 0;
    font-weight: 400
}

.contacts__other-cities {
    padding-top: 64px;
    padding-bottom: 76px
}

.blog__entry-block {
    background: linear-gradient(223.74deg, #fff -91.22%, #def3e9 101.86%), #cfe7f8
}