.sidebar__comments {
    font-size: 14px;
    font-weight: 500;
}

.sidebar__anonce {
    background: linear-gradient(90deg, rgb(153, 158, 161, 0.1) 0%, rgb(5, 56, 161, 0.1) 100%);
    border-radius: 5px;
}

.sidebar__anonce-link {
    font-size: 14px;
    line-height: 125%;
    font-weight: 400;
    margin-bottom: 0;
}