@import "../variables";

.btn {
    border-radius: 10px;
    border: none;
    font: $btn-font;
    padding: 24px 101px 24px 101px;
    max-width: 100%;
    text-transform: uppercase;
    color: white;
    text-decoration: none !important;
    text-align: center;
    display: inline-block;
    outline: none !important;
    transition: all 0.1s ease-in;
    background: $gray-light;

    @include respond-to(md) {
        padding-left: 25px;
        padding-right: 25px;
    }

    &:hover {
        color: white;
    }

    &.btn_primary {
        background: $primary;
        &:hover {
            background: $primary-light;
        }

        &.btn_outline {
            background: none;
            color: $primary !important;
            border: 2px solid $primary;
            &:hover {
                background: $primary;
                color: white !important;
            }
        }
    }

    &.btn_secondary {
        background: $secondary;
        &:hover {
            background: $secondary-dark;
        }
    }

    &.btn_danger {
        background: $danger;
        &:hover {
            background: darken($danger, 10%);
        }
    }

    &.btn_warning {
        background: $warning;
        color: $dark !important;
        &:hover {
            background: darken($warning, 10%);
        }
    }

    &.btn_sm {
        font-size: 12px;
        text-transform: none;
        font-weight: 400;
        padding: 14px 100px 14px 100px;
    }

    &.btn_link {
        color: black;
        padding: 0;
        background: none;
        &:hover {
            color: lighten(black, 7%)
        }
    }
}

.btn-rubrics {
    border: 1px solid $gray-light;
    border-radius: 34px;
    color: $primary-light;
    font-size: 14px;
    padding: 13px;
    background: none;
    font-weight: bold;
    outline: none !important;
    display: inline-block;

    &:hover {
        background: $primary-light;
        color: white;
        text-decoration: none;
        border: 1px solid transparent;
    }
}