@import "../variables";

.input {
    margin-bottom: 1rem;
    width: 100%;
    position: relative;

    input,
    textarea {
        width: 100%;
        color: $dark;
        background: none;
        border: 2px solid $gray-light;
        border-radius: 10px;
        padding: 17px 15px;
        box-sizing: border-box;
        font-size: 20px;
        outline: none !important;

        &::placeholder {
            color: $gray;
        }

        &:focus {
            &::placeholder {
                color: transparent;
            }
        }
    }

    label {
        font-size: 11px;
        line-height: 1;
        color: $gray;
        margin-bottom: 0;
        margin-left: 17px;
    }
}

.input_btn {
    display: flex;

    .btn {
        margin-left: -15px;
    }
}

.input_light {

    input,
    textarea {
        color: white;

        &::placeholder {
            color: white;
        }
    }

    label {
        color: white;

    }
}

.input_dark {
    input, textarea {
        color: $dark;
        border-color: $secondary-dark;

        &::placeholder {
            color: $dark;
        }
    }

    label {
        color: $dark;

    }
}

.input-cb {
    margin-bottom: 1rem;
    position: relative;
    display: flex;
    align-items: center;
    line-height: 1;

    label {
        margin-bottom: 0;
        padding-left: 35px;
    }

    input:disabled + label {
        opacity: 0.5;
    }

    input[type=checkbox] {
        opacity: 0;
        position: absolute;

        & ~ label {
            cursor: pointer;
            align-items: center;

            &::before {
                content: "";
                flex-shrink: 0;
                color: inherit;
                border: none !important;
                box-shadow: none !important;
                align-items: center;
                font-size: 25px;
                line-height: 1;
                transition: transform 0.1s ease-in;
                border-radius: 0;
                background-color: #00000030;
                top: 0;
                bottom: 0;
                left: 0;
                width: 25px;
                height: 25px;
                font-weight: 900;
                text-align: center;
                position: absolute;
                //margin: auto;
            }

            &::after {
                content: none !important;
            }

        }

        &:checked ~ label::before {
            content: "";
            background-image: url('/images/index/icon-check.svg');
            background-repeat: no-repeat;
            background-position: center;
            background-color: #00000000;
            background-size: 100% 100%;
            width: 25px;
            height: 25px;
        }

        &:active ~ label::before {
            transform: scale(0.8);
        }
    }
}

.input-cb_dark {
    input[type=checkbox] {
        &:checked ~ label::before {
            background-image: url('/images/icon-check-dark.svg');
        }
    }
}

.input-cb_sm {
    label {
        font-size: 11px;
        line-height: 14px;
        padding-left: 25px;
    }

    input[type=checkbox] {
        & ~ label::before {
            width: 16px;
            height: 16px;
        }

        &:checked ~ label::before {
            width: 16px;
            height: 16px;
        }
    }
}

//.input_sm input {
//    font-size: 12px;
//    padding: 16px 100px 12px 100px;
//}

.input_sm {
    input {
        padding: 12px;
        border-radius: 5px;
        font-size: 18px;
    }
}

.input_icon {
    display: flex;
    flex-wrap: wrap;
    align-items: center;

    i {
        margin-right: -60px;
        width: 60px;
        text-align: center;
        font-size: 24px;
    }

    input {
        padding-left: 60px;
    }

    &.input_sm {
        input {
            padding-left: 40px;
        }
        i {
            margin-right: -40px;
            width: 40px;
            font-size: 18px;
        }
    }
}

.input_bg-gradient {
    input {
        background: linear-gradient(90deg, rgb(153, 158, 161, 0.1) 0%, rgb(5, 56, 161, 0.1) 100%);
        border: none;
        color: $primary;

        &::placeholder {
            color: $primary;
        }
    }
}
