@import "../variables";

.tabs {
    display: inline-flex;
    font-size: 18px;
    background: white;
    border-radius: 5px;
    border: 2px solid $primary-light;
    font-weight: 500;
    justify-content: stretch;
    flex-wrap: nowrap;
    text-align: center;

    @include respond-to(md) {
        font-size: 12px;
    }

    li {
        flex-basis: 100%;
    }

    .tabs__item {
        color: $primary-light;
        //border-left: 2px solid $primary-light;

        &.active {
            background: $primary-light;
            color: white;
        }

        &:hover{
            background: rgba(222, 222, 222, 0.33);
        }
    }

    &.tabs_outline {
        background: none;
        border: 2px solid white;

        .tabs__item {
            color: white;
            border-left: 2px solid white;

            &.active {
                background: white;
                color: $primary-light;
            }
        }

        li:first-of-type .tabs__item {
            border-left: none;
        }
    }

    &.tabs_outline-blue {
        background: none;
        border: 2px solid $primary-light;

        .tabs__item {
            color: $primary-light;
            border-left: 2px solid white;
            font-size: 14px;

            &.active {
                background: $primary-light;
                color: white;
            }

            @include respond-to(md) {
                border-left: none;
            }
        }

        li:first-of-type .tabs__item {
            border-left: none;
        }
    }
}

.tabs_sm {
    font-size: 14px;
}
