@import "../variables";

@font-face {
    font-family: 'Navigo';
    src: url('/fonts/Navigo-ExtraLight.ttf');
    //src:
    //url('/fonts/navigo-extralight-webfont.woff2') format('woff2'),
    //url('/fonts/navigo-extralight-webfont.woff') format('woff'),
    //url('/fonts/navigo-extralight-webfont.ttf') format('truetype');
    font-weight: 200;
    font-style: normal;
}

@font-face {
    font-family: 'Navigo';
    src: url('/fonts/Navigo-Thin.ttf');
    //src:
    //url('/fonts/navigo-thin-webfont.woff2') format('woff2'),
    //url('/fonts/navigo-thin-webfont.woff') format('woff'),
    //url('/fonts/navigo-thin-webfont.ttf') format('truetype');
    font-weight: 100;
    font-style: normal;
}

@font-face {
    font-family: 'Navigo';
    src: url('/fonts/Navigo-Black.ttf');
    //src:
    //url('/fonts/navigo-black-webfont.woff2') format('woff2'),
    //url('/fonts/navigo-black-webfont.woff') format('woff'),
    //url('/fonts/navigo-black-webfont.ttf') format('truetype');
    font-weight: 900;
    font-style: normal;
}

@font-face {
    font-family: 'Navigo';
    src: url('/fonts/Navigo-Medium.ttf');
    //src:
    //url('/fonts/navigo-medium-webfont.woff2') format('woff2'),
    //url('/fonts/navigo-medium-webfont.woff') format('woff'),
    //url('/fonts/navigo-medium-webfont.ttf') format('truetype');
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'Navigo';
    src: url('/fonts/Navigo-Light.ttf');
    //src:
    //url('/fonts/navigo-light-webfont.woff2') format('woff2'),
    //url('/fonts/navigo-light-webfont.woff') format('woff'),
    //url('/fonts/navigo-light-webfont.ttf') format('truetype');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'Navigo';
    src: url('/fonts/Navigo-Regular.ttf');
    //src:
    //url('/fonts/navigo-regular-webfont.woff2') format('woff2'),
    //url('/fonts/navigo-regular-webfont.woff') format('woff'),
    //url('/fonts/navigo-regular-webfont.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Navigo';
    src: url('/fonts/Navigo-Bold.ttf');
    //src:
    //url('/fonts/navigo-bold-webfont.woff2') format('woff2'),
    //url('/fonts/navigo-bold-webfont.woff') format('woff'),
    //url('/fonts/navigo-bold-webfont.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
}

html {
    font: $base-font;

}

h1, h2, h3, h4, .h1, .h2, .h3, .h4 {
    font-weight: bold;
}

h1, .h1 {
    font: $h1-font;
    margin-bottom: $h1-margin-bottom;
}

h2, .h2 {
    font: $h2-font;
    margin-bottom: $h2-margin-bottom;
}

h3, .h3 {
    font: $h3-font;
    margin-bottom: $h3-margin-bottom;
}

h4, .h4 {
    font: $h4-font;
    margin-bottom: $h4-margin-bottom;
}

h5, .h5 {
    font: $h5-font;
    margin-bottom: $h5-margin-bottom;
}

h6, .h6 {
    font-size: 18px;
    font-weight: 500;
    text-transform: uppercase;
    margin-bottom: 37px;
}

.subtitle {
    font-size: 16px;
    font-weight: 400;
}

.subtitle-sm {
    font-size: 14px;
    font-weight: 300;
}

small, .small {
    font-size: 12px;
}

.extra-small {
    font-size: 11px;
}

@include respond-to(sm) {
    h1, .h1 {
        font: $h1-font-sm;
    }

    h2, .h2 {
        font: $h2-font-sm;
    }

    h3, .h3 {
        font: $h3-font-sm;
    }

    h4, .h4 {
        font: $h4-font-sm;
    }

    h5, .h5 {
        font: $h5-font-sm;
    }
}

a {
    color: #0538A1;
}

.font-weight-medium {
    font-weight: 500 !important;
}

.font-normal {
    font-style: normal;
}